<form method="post" action="{{ path(path, {id: 'new'}) }}">

    <div class="form-group col-12">
        <label for="nameInput">{{ 'name'|trans|capitalize }} *</label>
        <input class="form-control" name="name" id="nameInput{% if item.id|default %}{{ item.id }}{% endif %}"
               {% if item.name|default and item.name != "New" %}value="{{ item.name|capitalize }}"{% endif %}
               required>
    </div>

    <div class="form-group col-12">
        <label for="descInput">{{ 'description'|trans|capitalize }}</label>
        <textarea class="form-control" name="description"
                  id="descInput{% if item.id|default %}{{ item.id }}{% endif %}">{% if item.description|default %}{{ item.description|capitalize }}{% endif %}</textarea>
    </div>

    <div class="form-group col-12">
        <label for="cocInput">{{ 'chamber of commerce'|trans|capitalize }}</label>
        <input class="form-control" id="cocInput{% if item.id|default %}{{ item.id }}{% endif %}" type="number"
               name="chamberOfComerce"
               {% if item.chamberOfComerce|default %}value="{{ item.chamberOfComerce }}"{% endif %}>
    </div>

    <div class="form-group col-12">
        <label for="rsinInput">{{ 'social service number (rsin)'|trans|capitalize }}</label>
        <input class="form-control" id="rsinInput{% if item.id|default %}{{ item.id }}{% endif %}" type="number"
               name="rsin"
               {% if item.rsin|default %}value="{{ item.rsin }}"{% endif %}>
    </div>

    {% if not item.id|default %}

        <p class="text-center" style="color:gray" id="addUserGroupP"
           onclick="showUserGroupForm()">{{ 'click here if you also want to make a new user group'|trans|capitalize }}</p>

        <div id="userGroupFormDiv">

            <h4 class="ml-3">{{ 'user group'|trans|capitalize }}</h4>

            <div class="form-group col-12">
                <label for="nameUGInput">{{ 'name'|trans|capitalize }} *</label>
                <input class="form-control" id="nameUGInput">
            </div>

            <div class="form-group col-12">
                <label for="descUGInput">{{ 'description'|trans|capitalize }} * </label>
                <textarea class="form-control"
                          id="descUGInput"></textarea>
            </div>

        </div>


        <script>
            var addUserGroupP = document.getElementById('addUserGroupP');
            var userGroupFormDiv = document.getElementById('userGroupFormDiv');
            var organizationFormDiv = document.getElementById('organizationFormDiv');

            var nameUGInput = document.getElementById('nameUGInput');
            var descUGInput = document.getElementById('descUGInput');

            var showUserGroupBool = false

            userGroupFormDiv.style.display = "none";

            function showUserGroupForm() {
                if (showUserGroupBool === false) {
                    showUserGroupBool = true;
                    userGroupFormDiv.style.display = "block";
                    nameUGInput.name = "nameUG";
                    descUGInput.name = "descUG";
                    changePText(showUserGroupBool);
                } else {
                    showUserGroupBool = false;
                    userGroupFormDiv.style.display = "none";
                    changePText(showUserGroupBool);
                    emptyUGInputs();
                }
            }

            function changePText(showUserGroupBool) {
                if (showUserGroupBool === true) {
                    addUserGroupP.innerHTML = "{{ 'click here if you dont want to add an extra user group'|trans|capitalize }}";
                } else {
                    addUserGroupP.innerHTML = "{{ 'click here if you also want to make an extra user group'|trans|capitalize }}";
                }
            }

            function emptyUGInputs() {
                nameUGInput.value = "";
                descUGInput.value = "";
                nameUGInput.removeAttribute("name");
                descUGInput.removeAttribute("name");
            }
        </script>

    {% endif %}


    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</form>
