<div class="card border-light shadow-sm">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="h5">{{ 'activities'|trans|capitalize }}</h2>
            </div>
            <div class="col text-right">
                {% if addPath is  defined %}
                    <button data-toggle="modal" data-target="#activity-modal-new"
                            class="btn btn-primary">{{ 'add'|trans|capitalize }}</button>
                {% elseif not dontShowAllButton|default and dontShowAllButton != 'true' %}
                    <a href="{{ path('app_education_tutorials') }}"
                       class="btn btn-sm btn-secondary">{{ 'see all tutorials'|trans|capitalize }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if activities is  defined and activities|length > 0 %}
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th scope="col">{{ 'name'|trans|capitalize }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for activity in activities|slice(0, 10) %}
                    <tr>
                        <td>{{ activity.name|capitalize }}</td>
                        <td class="float-right">
                            {% if editPath is  defined %}
                                <a href="{{ path(editPath, {'id':tutorial.id }) }}"
                                   class="btn btn-primary">{{ 'edit'|trans|capitalize }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% for activity in activities|slice(0, 10) %}
            {% include 'dashboard/modals/activity.html.twig' with {'id': activity.id, 'result':activity } %}
        {% endfor %}

    {% else %}

        {% include 'dashboard/modals/activity.html.twig' with {'id': 'new'} %}

        <div class="card-body text-center">
            <p>{{ 'no tutorials found'|trans|capitalize }}</p>
            {% if addPath is  defined %}
                <a href="{{ path(addPath, {'id':'new' }) }}"
                   class="btn btn-primary">{{ 'add your first tutorial!'|trans|capitalize }}</a>
            {% else %}
                <a href="{{ path('app_education_tutorials') }}"
                   class="btn btn-primary">{{ 'find a tutorial'|trans|capitalize }}</a>
            {% endif %}
        </div>
    {% endif %}
</div>
