<div class="card border-light shadow-sm">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="h5">{{ 'applications'|trans|capitalize }}</h2>
            </div>
            <div class="col text-right">
                {% if addPath is  defined %}
                    <a href="{{ path(addPath, {'id':'new' }) }}" class="btn btn-primary">{{ 'add tutorial'|trans|capitalize }}</a>
                {% else %}
                    <a href="{{ path('app_internship_index') }}" class="btn btn-sm btn-secondary">{{ 'see all positions'|trans|capitalize }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if applications is  defined and applications|length > 0 %}
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
                <th scope="col">{{ 'position'|trans|capitalize }}</th>
                <th scope="col">{{ 'organization'|trans|capitalize }}</th>
{#                <th scope="col">{{ 'candidate'|trans|capitalize }}</th>#}
                <th scope="col">{{ 'status'|trans|capitalize }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for application in applications|slice(0, 10) %}
                {% set hiringOrganization = commonground_resource(application.jobPosting.hiringOrganization) %}
                <tr>
                    <th>{{ application.jobPosting.name }}</th>
                    <td>{{ hiringOrganization.name }}</td>
{#                    <td>{{ app.user.name }}</td>#}
                    <td>{{ application.status|capitalize }}</td>
{#                    <td><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-{{ application.id }}">{{ 'view'|trans|capitalize }}</button></td>#}
                    <td class="text-right"><a class="btn btn-sm btn-primary" href="{{ path('app_internship_position', {'id': application.id}) }}">{{ 'view'|trans|capitalize }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="card-body text-center">
        <p>{{ 'no applications found'|trans|capitalize }}</p>
        {% if addPath is  defined %}
            <a href="{{ path(addPath, {'id':'new' }) }}" class="btn btn-primary">{{ 'add your first application!'|trans|capitalize }}</a>
        {% else %}
        <a href="{{ path('app_internship_index') }}" class="btn btn-primary">{{ 'find an position to apply to'|trans|capitalize }}</a>
        {% endif %}
    </div>
    {% endif %}
</div>
