<div class="card border-light shadow-sm">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="h5">{{ 'challenges'|trans|capitalize }}</h2>
            </div>
            <div class="col text-right">
                {% if addPath is defined %}
                    <a href="{{ path(addPath, {'id':'new' }) }}"
                       class="btn btn-primary">{{ 'add'|trans|capitalize }}</a>
                {% else %}
                    <a href="{{ path('app_challenge_index') }}"
                       class="btn btn-sm btn-secondary">{{ 'see all challenges '|trans|capitalize }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if challenges is  defined and challenges|length > 0 %}
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th scope="col">{{ 'name'|trans|capitalize }}</th>
                    <th scope="col">{{ 'closing date'|trans|capitalize }}</th>
{#                    <th scope="col">{{ 'pitches'|trans|capitalize }}</th>#}
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for challenge in challenges|slice(0, 10) %}
                    <tr>
                        <th>{{ challenge.name }}</th>
                        <td>{{ challenge.dateClose|date("Y-m-d", "Europe/Paris") }}</td>
{#                        {% if challenge.pitches is defined and challenge.pitches is not empty %}#}
{#                            <td>{{ challenge.pitches|length }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ 'none'|trans|capitalize }}</td>#}
{#                        {% endif %}#}
                        <td class="text-right">
{#                            <button type="button" class="btn btn-primary" data-toggle="modal"#}
{#                                    data-target="#modal-{{ challenge.id }}">{{ 'edit'|trans|capitalize }}</button>#}
                            <a class="btn btn-sm btn-primary" href="{{ path('app_dashboarduser_challenge', {'id':challenge.id }) }}">{{ 'view'|trans|capitalize }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="card-body text-center">
            <p>{{ 'no challenges found'|trans|capitalize }}</p>
            {% if addPath is  defined %}
                <a href="{{ path(addPath, {'id':'new' }) }}"
                   class="btn btn-primary">{{ 'add your first challenge!'|trans|capitalize }}</a>
            {% else %}
                <a href="{{ path('app_team_index') }}"
                   class="btn btn-primary">{{ 'find a challenge'|trans|capitalize }}</a>
            {% endif %}
        </div>
    {% endif %}
</div>
