<div class="card border-light shadow-sm">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="h5">{{ 'internships'|trans|capitalize }}</h2></div>
            <div class="col text-right">
                {% if addPath is  defined %}
                    <a href="{{ path(addPath, {'id':'new' }) }}" class="btn btn-primary">{{ 'add internship'|trans|capitalize }}</a>
                {% else %}
                    <a href="{{ path('app_internship_index') }}" class="btn btn-sm btn-secondary">{{ 'see all internships'|trans|capitalize }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if internships is  defined and internships|length > 0 %}
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
                <th scope="col">{{ 'name'|trans|capitalize }}</th>
                <th scope="col">{{ 'end date'|trans|capitalize }}</th>
                <th scope="col">Page Value</th>
                <th scope="col">{{ 'details'|trans|capitalize }}</th>
            </tr>
            </thead>
            <tbody>
            {% for internship in internships|slice(0, 10) %}
                <tr>
                    <th>{{ internship.name }}</th>
                    <td>{{ commonground_resource(internship.hiringOrganization).name }}</td>
                    <td>$20</td>
                    <td>
                    {% if editPath is  defined %}
                        <a href="{{ path(editPath, {'id':internship.id }) }}" class="btn btn-primary">{{ 'edit'|trans|capitalize }}</a>
                    {% else %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{ internship.id }}">{{ 'edit'|trans|capitalize }}</button>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="card-body text-center">
        {{ 'no internships found'|trans|capitalize }}
        {% if addPath is  defined %}
            <a href="{{ path(addPath, {'id':'new' }) }}" class="btn btn-primary">{{ 'add your first internship!'|trans|capitalize }}</a>
        {% else %}
        {% endif %}
    </div>
    {% endif %}
</div>
