<div class="card border-light shadow-sm">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="h5">{{ 'invoices'|trans|capitalize }}</h2></div>
            <div class="col text-right">
                {% if addPath is  defined %}
                    <a href="{{ path(addPath, {'id':'new' }) }}" class="btn btn-primary">{{ 'add invoice'|trans|capitalize }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if invoices is  defined and invoices|length > 0 %}
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th scope="col">{{ 'name'|trans|capitalize }}</th>
                    <th scope="col">{{ 'due to'|trans|capitalize }}</th>
                    <th scope="col">{{ 'details'|trans|capitalize }}</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices|slice(0, 10) %}
                    <tr>
                        <th>{{ invoice.name }}</th>
                        {% if commonground_is_resource(invoice.targetOrganization) %}
                            <td>{{ commonground_resource(invoice.targetOrganization).name }}</td>
                        {% else %}
                            <td>{{ 'no organization found'|trans|capitalize }}</td>
                        {% endif %}
                        {% if editPath is defined %}
                            <td>
                                <a href="{{ path(editPath, {id:invoice.id }) }}" class="btn btn-primary">{{ 'edit'|trans|capitalize }}</a>
                            </td>
                        {% else %}
                            <td>
                                <a href="{{ path('app_dashboardorganization_invoice', {id: invoice.id}) }}" class="btn btn-primary">{{ 'view'|trans|capitalize }}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="card-body text-center">
            {{ 'no invoices found'|trans|capitalize }}
            {% if addPath is  defined %}
                <a href="{{ path(addPath, {'id':'new' }) }}" class="btn btn-primary">{{ 'add your first internship!'|trans|capitalize }}</a>
            {% else %}
            {% endif %}
        </div>
    {% endif %}
</div>
