<div class="card border-light shadow-sm">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="h5">{{ 'requirements'|trans|capitalize }}</h2></div>
            <div class="col text-right"><a href="{{ path('app_internship_index') }}" class="btn btn-sm btn-secondary">{{ 'see all requirements'|trans|capitalize }}</a></div>
        </div>
    </div>
    {% if requirements is  defined and requirements|length > 0 %}
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
                <th scope="col">{{ 'position'|trans|capitalize }}</th>
                <th scope="col">{{ 'organization'|trans|capitalize }}</th>
                <th scope="col">{{ 'status'|trans|capitalize }}</th>
                <th scope="col">Bounce rate</th>
            </tr>
            </thead>
            <tbody>
            {% for requirement in requirements|slice(0, 10) %}
                <tr>
                    <th>{{ applications.position.name }}</th>
                    <td>{{ commonground_resource(applications.organization).name }}</td>
                    <td>{{ applications.status }}</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{ application.id }}">{{ 'edit'|trans|capitalize }}</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="card-body  text-center">
        <p>{{ 'no requirements found'|trans|capitalize }}</p>
        {% if addPath is  defined %}
            <a href="{{ path(addPath, {'id':'new' }) }}" class="btn btn-primary">{{ 'add your first requierement!'|trans|capitalize }}</a>
        {% else %}
        {% endif %}
    </div>
    {% endif %}
</div>
