<div class="card border-light shadow-sm">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="h5">{{ 'tutorials'|trans|capitalize }}</h2>
            </div>
            <div class="col text-right">
                {% if addPath is  defined %}
                    <a href="{{ path(addPath, {'id':'new' }) }}"
                       class="btn btn-primary">{{ 'add'|trans|capitalize }}</a>
                {% else %}
                    <a href="{{ path('app_education_tutorials') }}"
                       class="btn btn-sm btn-secondary">{{ 'see all tutorials'|trans|capitalize }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if tutorials is  defined and tutorials|length > 0 %}
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th scope="col">{{ 'name'|trans|capitalize }}</th>
                    <th scope="col">{{ 'organization'|trans|capitalize }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for tutorial in tutorials|slice(0, 10) %}
                    {% if tutorial.organization|default and 'http' in tutorial.organization %}
                        {% set organization = commonground_resource(tutorial.organization) %}
                    {% endif %}
                    <tr>
                        <th>{{ tutorial.name }}</th>
                        <td>{{ organization.name|capitalize }}</td>
                        <td class="text-right"><a class="btn btn-sm btn-primary" href="{{ path('app_dashboarduser_tutorial', {'id':tutorial.id }) }}">{{ 'view'|trans|capitalize }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <div class="card-body text-center">
            <p>{{ 'no tutorials found'|trans|capitalize }}</p>
            {% if addPath is  defined %}
                <a href="{{ path(addPath, {'id':'new' }) }}"
                   class="btn btn-primary">{{ 'add your first tutorial!'|trans|capitalize }}</a>
            {% else %}
                <a href="{{ path('app_education_tutorials') }}"
                   class="btn btn-primary">{{ 'find a tutorial'|trans|capitalize }}</a>
            {% endif %}
        </div>
    {% endif %}
</div>
