<div class="card border-light shadow-sm">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="h5">{{ 'tutorials'|trans|capitalize }}</h2></div>
            <div class="col text-right"><a href="{{ path('app_internship_index') }}" class="btn btn-sm btn-secondary">See all</a></div>
        </div>
    </div>
    <div class="table-responsive">
        {% if tutorials is  defined and tutorials|length > 0 %}
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
                <th scope="col">{{ 'position'|trans|capitalize }}</th>
                <th scope="col">{{ 'organization'|trans|capitalize }}</th>
                <th scope="col">{{ 'status'|trans|capitalize }}</th>
                <th scope="col">Bounce rate</th>
            </tr>
            </thead>
            <tbody>
            {% for tutorial in tutorials|slice(0, 10) %}
                <tr>
                    <th>{{ tutorial.name }}</th>
                    <td> </td>
                    <td> </td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{ tutorial.id }}">{{ 'edit'|trans|capitalize }}</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="card-body">
        {{ 'no tutorials found'|trans|capitalize }}
    </div>
    {% endif %}
</div>
