{% extends "base.html.twig" %}

{% set solidMenu = true %}

{% block content %}
    <section class="section section-lg bg-soft">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5">
                    <h2 class="h1">{{ 'organization'|trans|capitalize }}</h2>
                    <p class="mb-4 lead">{{ 'everybody wroks from home so why not your inters?!'|trans|capitalize }}</p>
                    <p class="mb-4">{{ 'Thanks for wanting to join conduction academy. <br> With this form you are able to create an organization for conduction academy. <br> Having created an organization you are able to post internships, tutorials and challenges. <br> Allowing students to participate in these activities and apply for your internships!'|trans|raw }}</p>
                    <form action="{{ path('app_dashboarduser_organization', {id: 'new'} ) }}" method="post">
                        <div class="form-group col-12 p-0">
                            <label for="nameInput">{{ 'name'|trans|capitalize }} *</label>
                            <input class="form-control" name="name" id="nameInput"
                                   required>
                        </div>
                        <div class="form-group col-12 p-0">
                            <label for="cocInput">{{ 'chamber of commerce'|trans|capitalize }} *</label>
                            <input class="form-control" id="cocInput" type="text"
                                   name="chamberOfComerce" required>
                        </div>
                        <div class="form-group col-12 p-0">
                            <label for="descInput">{{ 'description'|trans|capitalize }}</label>
                            <textarea class="form-control" name="description" id="descInput"></textarea>
                        </div>
                        <input type="hidden" name="backUrl" value="{% if backUrl is defined %}{{ backUrl }}{% else %}{{ path('app_dashboarduser_organization') }}{% endif %}">
                        <input type="hidden" name="rsin" value=" ">
                        <button type="submit" class="btn btn-primary btn-block">{{ 'join'|trans|capitalize }}</button>
                    </form>

                </div>
                <div class="col-lg-6">
                    <img src="./images/internship.svg" alt="Internships">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
