{% extends "base.html.twig" %}

{% block content %}

<section class="section-header pb-10 pb-lg-11 mb-4 mb-lg-6 bg-primary text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center mb-4 mb-lg-5">
                <h1 class="display-2 font-weight-extreme mb-4">{{ tutorial.name }}</h1>
                <p class="lead">{{ tutorial.description }}</p>

                <div class="d-flex flex-column flex-lg-row justify-content-center">
                        <span class="h5 mb-3 mb-lg-0"><i class="fas fa-clock"></i><span
                                class="ml-3">{{ tutorial.timeRequired }}</span></span>
                    {% if tutorial.organization is defined and tutorial.organization is not empty %}
                        {% set organization = commonground_resource(tutorial.organization) %}
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fas fa-user-tie"></i><span
                                class="ml-3">{{ organization.name }}</span></span>
                    {% endif %}
                    <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fas fa-file-invoice-dollar"></i><span
                            class="ml-3">{{ tutorial.additionalType }}</span></span>
                </div>
            </div>
            <div class="col col-12 text-center"><a href="{{ path('app_education_tutorials') }}"
                                                   class="btn btn-secondary text-white animate-up-2 mr-3"><i
                        class="fas fa-arrow-left mr-2"></i>{{ 'all tutorials'|trans|capitalize }}</a>
                <a href="#registeer" class="btn btn-white text-primary animate-up-2"><i
                        class="fas fa-clipboard-list mr-2"></i>{{ 'register now'|trans|capitalize }}</a></div>
        </div>
    </div>
    <div class="pattern bottom"></div>
</section>


{% if tutorial.video is defined and tutorial.video is not empty %}
    <article class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n11 z-2">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card shadow-soft border-light p-4 p-md-5">
                        <div class="card-body">{{ tutorial.text }}</div>
                        <iframe width="420" height="315"
                                src="{{ tutorial.video }}">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endif %}


<div class="container">
    <div class="row justify-content-center pb-5">
        <div class="col">
            <div class="card bg-soft shadow-soft border-light p-4 p-md-5">
                <div class="mb-1 text-center">
                    <h2 class="h1">{{ 'register for this tutorial'|trans|capitalize }}</h2>
                </div>
                {% if registered is defined and registered %}
                    <p class="mt-4 text-center">{{ 'you have already registerd for this cource'|trans|capitalize }}</p>
                    <a class="mt-2 text-center btn btn-secondary"
                       href="{{ path('app_dashboarduser_tutorial', {id: tutorial.id}) }}">
                        {{ 'click here to participate'|trans|capitalize }}
                    </a>
                {% elseif app.user is defined and app.user is not null %}
                    <form action="{{ path('app_education_tutorial', {id: tutorial.id}) }}" method="post">
                        <div class="row">
                            <div class="col col-12 mt-4">
                                <div class="form-group">
                                    <label class="form-label text-muted"
                                           for="motivation">{{ 'motivation'|trans|capitalize }} <span
                                            class="text-danger">*</span></label>
                                    <textarea class="form-control"
                                              placeholder="{{ 'motivate your registration'|trans|capitalize }}"
                                              id="motivation" name="motivation" rows="8" required=""></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-secondary mt-4"><span class="mr-2"><i
                                                class="fas fa-paper-plane"></i></span> {{ 'register'|trans|capitalize }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <p class="mt-4 text-center">{{ 'you need to be logged in to register for a tutorial'|trans|capitalize }}</p>
                    <a class="mt-2 text-center btn btn-secondary" href="{{ path('app_user_idvault') }}">
                        {{ 'click here to log in'|trans|capitalize }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if tutorials|default %}

<section class="section section-lg pb-5 bg-soft">
    <div class="container">
        <div class="row justify-content-center mb-4 mb-lg-5">
            <div class="col">
                <h2 class="h2"
                    style="text-align: center">{{ 'other tutorials from this organization'|trans|capitalize }}</h2>
            </div>
        </div>
    </div>
    <section class="section section-lg pt-0">
        <div class="container">
            <div class="row">

                {% for tut in tutorials %}

                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                    <div class="card bg-white border-light shadow-soft p-4 rounded">
                        <a href="{{ path('app_education_tutorial', {id: tut.id}) }}"><img
                                src="/bundles/rocket/assets/img/blog/image-2.jpg" class="card-img-top fmxh-300"
                                alt=""></a>
                        <div class="card-body p-0 pt-4"><a
                                href="{{ path('app_education_tutorial', {id: tut.id}) }}"
                                class="h3">{{ tut.name }}</a>

                            {% if tut.organization is defined and tut.organization is not empty %}
                                {% set organization = commonground_resource(tut.organization) %}

{#                                {% set tutorials = commonground_resource_list({'component': 'edu', 'type': 'courses'}, {'organization': organization['@id']})['hydra:member'] %}#}
{#                                {% if tutorials|default and tutorials|length > 0 %}#}
{#                                    {{ tutorials|length }}#}
{#                                {% endif %}#}

                                <div class="d-flex align-items-center my-4"><img
                                        class="avatar avatar-sm rounded-circle"
                                        src="{{ organization.style.favicon.base64 }}" alt="">
                                    <h6 class="text-muted small ml-2 mb-0">{{ organization.name }}</h6>
                                </div>
                            {% endif %}
                            <p class="mb-0">{{ tut.description }}</p>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>
</section>
{% endif %}
{% endblock %}
