{% extends "base.html.twig" %}

{% block content %}
    <section class="section-header bg-primary pb-7 pb-lg-10 text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <h1 class="mb-3">{{ 'tutorials'|trans|capitalize }}</h1>
                    <p class="lead px-lg-5 mb-5">{{ 'We collect as many tutorials as possible that share your knowledge and which increases the chance of a great internship!'|trans|capitalize}}
                        {{'For some internships it is going through a few tutorials is a must, you will then submit a little after watching test so that the company can see that you have acquired the knowledge.'|trans|capitalize}}
                    {{ 'That also makes it much easier for you to immediately join your internship company'|trans|capitalize }}.</p>
                    <form action="{{ path('app_education_tutorials', query) }}">
                        <div class="form-group bg-white shadow-soft rounded-pill mb-4 px-3 py-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="input-group input-group-merge shadow-none">
                                        <div class="input-group-prepend"><span class="input-group-text bg-transparent border-0"><i class="fas fa-search"></i></span></div>
                                        <input name="search" id="search" type="text" class="form-control border-0 form-control-flush shadow-none pb-2" placeholder="{{ 'search for a tutorial'|trans|capitalize }}..." required="" {% if query.search is defined and query.search is not empty %}value="{{ query.search }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-block btn-primary rounded-pill">{{ 'search'|trans|capitalize }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>

    <section class="section section-md pb-0">
        <div class="container z-2 mt-n9 mt-lg-n11">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <a href="./support-topic.html" class="card text-center shadow-soft border-light animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4"><span class="fas fa-code"></span></div>
                            <h6 class="text-gray mb-0">{{ 'code'|trans|capitalize }}</h6></div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <a href="./support-topic.html" class="card text-center shadow-soft border-light animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4"><span class="fas fa-file-code"></span></div>
                            <h6 class="text-gray mb-0">{{ 'soft skills'|trans|capitalize }}</h6></div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <a href="./support-topic.html" class="card text-center shadow-soft border-light animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4"><span class="fas fa-heartbeat"></span></div>
                            <h6 class="text-gray mb-0">{{ 'life'|trans|capitalize }}</h6></div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="./support-topic.html" class="card text-center shadow-soft border-light animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4"><span class="fas fa-layer-group"></span></div>
                            <h6 class="text-gray mb-0">{{ 'onboarding'|trans|capitalize }}</h6></div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg pt-0">
        <div class="container">
            <div class="row">
                {% for tutorial in tutorials %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                        <div class="card bg-white border-light shadow-soft p-4 rounded">
                            <a href="{{ path('app_education_tutorial', {id: tutorial.id}) }}"><img src="/bundles/rocket/assets/img/blog/image-2.jpg" class="card-img-top fmxh-300" alt=""></a>
                            <div class="card-body p-0 pt-4"><a href="{{ path('app_education_tutorial', {id: tutorial.id}) }}" class="h3">{{ tutorial.name }}</a>
                                {% if tutorial.organization is defined and tutorial.organization is not empty %}
                                    {% set organization = commonground_resource(tutorial.organization) %}
                                    <div class="d-flex align-items-center my-4"><img class="avatar avatar-sm rounded-circle" src="{{ organization.style.favicon.base64 }}" alt="">
                                        <h6 class="text-muted small ml-2 mb-0">{{ organization.name }}</h6>
                                    </div>
                                    {{ tutorial.additionalType }}
                                {% endif %}
                                <p class="mb-0">{{ tutorial.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center w-100">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">{{ 'Previous'|trans|capitalize }}</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">{{ 'Next'|trans|capitalize }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg pb-5 bg-soft">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <h2 class="mb-4">{{ 'Share your knowledge to gain inseight'|trans }}</h2>
                    <p class="lead mb-5">{{ 'sharing might be'|trans|capitalize }} <span class="font-weight-bolder">{{ 'caring'|trans }}</span>  {{ 'but learning is yearning'|trans }}</p>
                    <p>{{'by providing tutorials you don\'t just support the next generation of profesional\'s, you activly help them onboard for your ecosystem'|trans|capitalize}}</p>
                    <button type="button" class="btn btn-secondary animate-up-2" data-toggle="modal" data-target=".pricing-modal"><a href="{{ path('app_user_idvault') }}" style="color: white"><span class="mr-2"><i class="fas fa-hand-pointer"></i></span>{{ 'register now to post your tutorials'|trans|capitalize }}</a></button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

