{% extends "base.html.twig" %}

{% block content %}
    <section class="section-header pb-8 pb-lg-13 mb-4 mb-lg-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-2 mb-3">{{ challenge.name }}</h1>
                    <p class="lead">{{ challenge.description }}</p>
                    <div class="col col-12 text-center"><a href="{{ path('app_challenge_index') }}"
                                                           class="btn btn-secondary text-white animate-up-2 mr-3"><i
                                class="fas fa-arrow-left mr-2"></i>{{ 'See all challenges'|trans|capitalize }}</a><a
                            href="#apply" class="btn btn-white text-primary animate-up-2"><i
                                class="fas fa-clipboard-list mr-2"></i>{{ 'Apply Now'|trans|capitalize }}</a></div>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container mt-n7 mt-lg-n13 z-2">
            <div class="row justify-content-center">
                {% if challenge.selectionCritera is defined and challenge.selectionCritera is not empty %}
                <div class="col-12 col-lg-4">
                    <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                        <div class="card-header text-center pb-0">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-3"><span
                                    class="fas fa-bullhorn"></span></div>
                            <h4 class="text-black">{{ 'Skill'|trans|capitalize }}</h4>
                            <p>{{ 'Completing this challenge requires the following skills'|trans|capitalize }}</p>
                        </div>
                        {% set counter = 0 %}
                        {% for skill in challenge.selectionCritera %}
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex px-0 pt-0 pb-2">
                                        <div class="icon icon-sm icon-success mr-4"><i class="far fa-check-circle"></i>
                                        </div>
                                        <div>{{ challenge.selectionCritera[0] }}</div>
                                    </li>
                                </ul>
                            </div>
                            {% if counter >= skill|length %}
                                {% set counter = 0 %}
                            {% else %}
                                {% set counter = counter + 1 %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if challenge.budget is defined and challenge.budget is not empty %}
                    <div class="col-12 col-lg-4">
                        <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                            <div class="card-header text-center pb-0">
                                <div class="icon icon-shape icon-shape-primary rounded-circle mb-3"><span
                                        class="fas fa-receipt"></span></div>
                                <h4 class="text-black">{{ 'Rewards'|trans|capitalize }}</h4>
                                <p>{{ 'This challenge offers the following rewards'|trans|capitalize }}</p>
                            </div>
                            {% set counter = 0 %}
                            {% for reward in challenge.budget %}
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex px-0 pt-0 pb-2">
                                            <div class="icon icon-sm icon-success mr-4"><i
                                                    class="far fa-check-circle"></i>
                                            </div>
                                            <div>{{ challenge.budget[0] }}</div>
                                        </li>
                                    </ul>
                                </div>
                                {% if counter >= reward|length %}
                                    {% set counter = 0 %}
                                {% else %}
                                    {% set counter = counter + 1 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <p>{{ 'there are no rewards'|trans|capitalize }}</p>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="section section-lg pt-0 line-bottom-light">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">{{ 'The stages'|trans|capitalize }}</h1>
                    <p class="lead">{{ 'This challenge consists of several stages'|trans|capitalize }}</p>
                </div>
            </div>
            <div class="row">
                {% set counter = 0 %}
                {% for stage in stages %}
                <div class="timeline timeline-six px-3 px-lg-0">
                    {% if counter == 0 or counter % 2 == 0 %}
                    <div class="row no-gutters">
                        <div class="col-lg"></div>
                        <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                            <div class="row h-50">
                                <div class="col">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <span
                                class="d-none d-lg-block m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary">{{ counter + 1 }}</span>
                            <div class="row h-50">
                                <div class="col middle-line">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col-lg py-2">
                            <div class="card timeline-card bg-soft shadow-soft border-light p-3">
                                <div class="card-body p-4">
                                    <h4 class="mb-3"><span class="d-lg-none">{{ counter }}</span>{{ stage.name }}
                                    </h4>
                                    <p class="my-2">{{ stage.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="row no-gutters">
                        <div class="col-lg py-2">
                            <div class="card left-timeline-card bg-soft shadow-soft border-light p-3">
                                <div class="card-body p-4">
                                    <h4 class="mb-3"><span class="d-lg-none">{{ counter }}</span>{{ stage.name }}
                                    </h4>
                                    <p class="my-2">{{ stage.description }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                            <div class="row h-50">
                                <div class="col middle-line">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <span
                                class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary">2</span>
                            <div class="row h-50">
                                <div class="col middle-line">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col-lg"></div>
                    </div>
                    {% endif %}
                    {% if counter >= stages|length %}
                        {% set counter = 0 %}
                    {% else %}
                        {% set counter = counter + 1 %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div id="apply" class="row">
                <div class="col">
                    <div class="card bg-soft shadow-soft border-0 text-black py-4 p-lg-5">
                        <div class="card-body p-4">
                            <div class="mb-5 mb-lg-6 text-center">
                                <h2 class="h1">{{ 'Apply for this Challenge'|trans|capitalize }}</h2></div>
                            {% if app.user is defined and app.user is not null %}
                            <form action="{{ path('app_challenge_challenge', {id: challenge.id} ) }}" method="post">
                                <input type="hidden" name="tender" id="tender" value="{{ challenge['id'] }}">
                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="form-group">
                                            <label class="form-label text-muted"
                                                   for="submitter">{{ 'submitter'|trans|capitalize }}<span
                                                    class="text-danger"></span></label>
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="far fa-user-alt"></i></span>
                                                </div>
                                                {% if person is defined and person is not empty %}
                                                    <input disabled class="form-control" id="" name=""
                                                           type="text" value="{{ person.name }}">

                                                    <input type="hidden" name="submitter" id="submitter" value="{{ personUrl }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-secondary mt-4"><span class="mr-2"><i
                                                    class="fas fa-paper-plane"></i></span>{{ 'Submit'|trans|capitalize }}
                                        </button>
                                    </div>
                                </div>
                            </form>
                            {% else %}
                                <p class="mt-4 text-center">{{ 'you need to be logged in to apply for this challenge'|trans|capitalize }}</p>
                                <div class="mb-5 mb-lg-6 text-center">
                                <a class="mt-2 text-center btn btn-secondary"
                                   href="{{ path('app_user_idvault') }}">{{ 'click here to log in'|trans|capitalize }} </a>
                                </div>
                                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
{% endblock %}
