{% extends "base.html.twig" %}

{% block content %}
    <section class="section-header bg-primary pb-7 pb-lg-10 text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <h1 class="mb-3">{{ 'challenges'|trans|capitalize }}</h1>
                    <p class="lead px-lg-5 mb-5">{{ 'are you a creative and driven student and looking for a different kind of internship?'|trans|capitalize }} {{ 'Here we offer challenges from companies with special challenges, who are looking for a suitable solution.'|trans|capitalize }} {{'You as a student can participate!'|trans|capitalize }} {{'Pitch your innovative solution / idea for these challenges and win a unique internship where you can implement your idea.'|trans|capitalize }} {{'You can do this individually or with others.'|trans|capitalize }} {{'Looking for team players watch'|trans|capitalize }}
                        <a href="{{ path('app_team_index') }}"
                           style="color: #EE5050;">{{ 'here'|trans }} </a>{{ 'and make contact.'|trans }}</p>
                    <form action="#">
                        <div class="form-group bg-white shadow-soft rounded-pill mb-4 px-3 py-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="input-group input-group-merge shadow-none">
                                        <div class="input-group-prepend"><span
                                                class="input-group-text bg-transparent border-0"><i
                                                    class="fas fa-search"></i></span></div>
                                        <input name="search" id="search" type="text"
                                               class="form-control border-0 form-control-flush shadow-none pb-2"
                                               placeholder="{{'search for challenges'|trans|capitalize}}..."
                                               required=""
                                               {% if query.search is defined and query.search is not empty %}value="{{ query.search }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit"
                                            class="btn btn-block btn-primary rounded-pill">{{ 'search'|trans|capitalize }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-md pb-0">
        <div class="container z-2 mt-n9 mt-lg-n11">
            <div class="row">
                {% for challenge in challenges %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                        <div class="card bg-white border-light shadow-soft p-4 rounded">
                            <a href="{{ path('app_challenge_challenge', {id: challenge.id}) }}"><img
                                    src="/bundles/rocket/assets/img/blog/image-2.jpg" class="card-img-top fmxh-300"
                                    alt=""></a>
                            <div class="card-body p-0 pt-4"><a
                                    href="{{ path('app_challenge_challenge', {id: challenge.id}) }}"
                                    class="h3">{{ challenge.name }}</a>
                                <div class="d-flex align-items-center my-4">
                                    {% if challenge.organization is defined and challenge.organization is not empty %}
                                        {% set organization = commonground_resource(challenge.organization) %}
                                        <img class="avatar avatar-sm rounded-circle"
                                             src="{{ organization.style.favicon.base64 }}" alt="">
                                    {% endif %}
                                    {% if challenge.submitter is defined and challenge.submitter is not empty %}
                                        {% if 'http' in challenge.submitter %}
                                            {% set submitter = commonground_is_resource(challenge.submitter) %}
                                            {% if submitter != false %}
                                                {% set submitter = submitter.name %}
                                            {% else %}
                                                {% set submitter = challenge.submitter %}
                                            {% endif %}
                                        {% else %}
                                            {% set submitter = challenge.submitter %}
                                        {% endif %}

                                        <h6 class="text-muted small ml-2 mb-0">{{ submitter }}</h6>
                                    {% endif %}
                                </div>
                                {% if challenge.dateClose is defined and challenge.dateClose is not empty %}
                                    <div class="d-flex align-items-center my-4"><h6
                                            class="text-muted small ml-2 mb-0">{{ 'closing date: '|trans|capitalize }}{{ challenge.dateClose|date("d-m-Y", "Europe/Paris") }}</h6>
                                    </div>
                                {% endif %}
                                {% if challenge.budget is defined and challenge.budget is not empty %}
                                    <div class="d-flex align-items-center my-4"><h6
                                            class="text-muted small ml-2 mb-0">{{ 'reward: '|trans|capitalize }}&euro;{{ challenge.budget }}</h6>
                                    </div>
                                {% endif %}
                                <p class="mb-0">{{ challenge.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {#                <div class="d-flex justify-content-center w-100">#}
                {#                    <nav aria-label="Page navigation example">#}
                {#                        <ul class="pagination">#}
                {#                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>#}
                {#                            <li class="page-item"><a class="page-link" href="#">1</a></li>#}
                {#                            <li class="page-item active"><a class="page-link" href="#">2</a></li>#}
                {#                            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
                {#                            <li class="page-item"><a class="page-link" href="#">4</a></li>#}
                {#                            <li class="page-item"><a class="page-link" href="#">5</a></li>#}
                {#                            <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
                {#                        </ul>#}
                {#                    </nav>#}
                {#                </div>#}
            </div>
        </div>
    </section>
    <section id="plaatsen" class="section section-lg pb-5 bg-soft">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h2 class="h1">{{'post a challenge for students '|trans|capitalize }}</h2>
                    <p class="lead px-lg-5 mb-5">
                        {{ 'do you as an organization have a (digital) issue or a challenge?'|trans|capitalize }}
                        {{'and do you want a fresh look or an innovative solution?'|trans|capitalize }}
                        {{'post a challenge and invite students to respond and pitch their ideas and / or products!'|trans|capitalize }}
                    </p>
                    {% if app.user %}
                        <a href="{{ path('app_dashboardorganization_challenges') }}">
                            <button type="button" class="btn btn-secondary animate-up-2" data-toggle="modal"
                                    data-target=".pricing-modal"><span class="mr-2"><i
                                        class="fas fa-bullseye-arrow"></i></span>{{'post a challenge'|trans|capitalize }}
                            </button>
                        </a>
                    {% else %}
                        <a href="{{ path('app_user_idvault') }}?backUrl={{ path('app_dashboardorganization_challenges') }}">
                            <button type="button" class="btn btn-secondary animate-up-2" data-toggle="modal"
                                    data-target=".pricing-modal"><span class="mr-2"><i
                                        class="fas fa-bullseye-arrow"></i></span>{{ 'post a challenge'|trans|capitalize }}
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
