
<section class="section section-lg bg-soft">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
                <h2 class="h1">{{ 'challenges'|trans|capitalize }}</h2>
                <p class="mb-4 lead">{{ 'think about problem solving'|trans|capitalize }}</p>
                <p class="mb-4">{{ 'interns can help us to solve challenges we experience inside or outside our organizations.'|trans|capitalize}} {{ 'they have a fresh and new perspective on things. Let/s focus on what interns need to learn to transform their fresh brain to strategic problem-solving skills.'|trans|capitalize}} {{ 'so instead of offering a student an internship, provide them with a challenge to solve.'|trans|capitalize }}</p>
                <div class="d-flex justify-content-between mt-lg-4 mb-5">
                    <div>
                        <a href="{{ path('app_challenge_index') }}" class="btn btn-primary animate-up-2"><span class="fas fa-bullseye-arrow mr-2"></span> {{ 'challenges'|trans|capitalize }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="./images/challange.svg" alt="Challange">
            </div>
        </div>
        <div class="row justify-content-center my-5 mt-lg-6">
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="far fa-users"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'teams'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'work together online'|trans|capitalize }}</p>
            </div>
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="fal fa-chalkboard-teacher"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'proposals'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'propose challenges'|trans|capitalize }}</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="fal fa-portrait"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'products'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'for student portfolios'|trans|capitalize }}</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="far fa-gift"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'prices'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'reward for solutions'|trans|capitalize }}</p>
            </div>
        </div>
    </div>
</section>
