
<section class="section bg-soft">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h2 class="h1">{{ 'Got questions?'|trans|capitalize }}</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">

                <div class="accordion mt-5 shadow-soft">
                    <div class="card card-sm card-body border-soft mb-0">
                        <a href="#panel-what-is-pixel" data-target="#panel-what-is-pixel" class="accordion-panel-header" data-toggle="collapse" aria-expanded="false" aria-controls="panel-what-is-pixel">
                            <span class="icon-title h6 mb-0 font-weight-bold">{{ 'Who is behind the internship platform'|trans|capitalize }}</span>
                            <span class="icon"><i class="fas fa-plus"></i></span>
                        </a>
                        <div class="collapse" id="panel-what-is-pixel">
                            <div class="pt-3">
                                <p>{{ 'the internship platform has been developed by Conduction in the context of the “Call against Corona” issued by the SIDNfonds and the Ministry of Internal Affairs.'|trans|capitalize }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body border-soft mb-0">
                        <a href="#panel-demo" data-target="#panel-demo" class="accordion-panel-header" data-toggle="collapse" aria-expanded="false" aria-controls="panel-demo">
                            <span class="icon-title h6 mb-0 font-weight-bold">{{ 'Is the internship platform free?'|trans|capitalize }}</span>
                            <span class="icon"><i class="fas fa-plus"></i></span>
                        </a>
                        <div class="collapse" id="panel-demo">
                            <div class="pt-3">
                                {{ 'In the Beta phase (now), the platform is free to use for everyone. This will always be free for students.'|trans|capitalize }}
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body border-soft mb-0">
                        <a href="#panel-money-back" data-target="#panel-money-back" class="accordion-panel-header" data-toggle="collapse" aria-expanded="false" aria-controls="panel-money-back">
                            <span class="icon-title h6 mb-0 font-weight-bold">{{ 'What makes the internship platform different from other matching sites?'|trans|capitalize }}</span>
                            <span class="icon"><i class="fas fa-plus"></i></span>
                        </a>
                        <div class="collapse" id="panel-money-back">
                            <div class="pt-3">
                                <p>{{ 'The internship platform enables students and companies to use challenges, tutorials and much more in addition to matching.'|trans|capitalize }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-lg-5 mt-5">
            <div class="col text-center">
                <p class="text-italic">{{ 'Didn/t find what you were looking for? No biggie!'|trans|capitalize }}</p>
                <a href="https://www.conduction.nl/contact" class="btn btn-sm btn-outline-primary" target="_blank">{{ 'Contact us'|trans|capitalize }}</a>
            </div>
        </div>
    </div>
</section>
