
<section class="section section-lg bg-primary text-white">
    <div class="container">
        <div class="row justify-content-center mb-5 mb-lg-6">
            <div class="col-12 text-center">
                <h2 class="h1 px-lg-5">{{ 'awesome features'|trans|capitalize }}</h2>
                <p class="lead px-lg-8">{{ 'we provide everything that both students and organizations need to make online interships work'|trans|capitalize }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fas fa-briefcase"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'internships'|trans|capitalize }}</h5>
                        <p>{{ 'an online platform to find and place a suitable internship'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fal fa-file-alt"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'tutorials'|trans|capitalize }}</h5>
                        <p>{{ 'onboard interns with the proper knowledge and skills'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fas fa-bullseye-arrow"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'challenges'|trans|capitalize }}</h5>
                        <p>{{ 'stimulate problem solving skills'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fal fa-portrait"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'portfolio'|trans|capitalize }}</h5>
                        <p>{{ 'students can showcase their products and results'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="far fa-users"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'teams'|trans|capitalize }}</h5>
                        <p>{{ 'work together to face challenges'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fal fa-wallet"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'HR wallet'|trans|capitalize }}</h5>
                        <p>{{ 'future proof HR file'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fas fa-book"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'competencies'|trans|capitalize }}</h5>
                        <p>{{ 'relate internships, challenges to competencies'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="far fa-bullseye"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'goals'|trans|capitalize }}</h5>
                        <p>{{ 'students set competency goals'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
