
<section class="section section-lg bg-primary text-white">
    <div class="container">
        <div class="row justify-content-center mb-5 mb-lg-6">
            <div class="col-12 text-center">
                <h2 class="h1 px-lg-5">{{ 'awesome features'|trans|capitalize }}</h2>
                <p class="lead px-lg-8">{{ 'we provide everything that both students and organizations need to make online interships work'|trans|capitalize }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fab fa-bootstrap"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'interhsips'|trans|capitalize }}</h5>
                        <p>{{ 'online enviroment for internschips'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fab fa-sass"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'tutorials'|trans|capitalize }}</h5>
                        <p>{{ 'onboard inters with the propper knowledge and skills'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fab fa-gulp"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'challanges'|trans|capitalize }}</h5>
                        <p>{{ 'stimulate problem solving skills'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="far fa-images"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'portfolio'|trans|capitalize }}</h5>
                        <p>{{ 'students can showcase there products and results'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fas fa-mobile-alt"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'teams'|trans|capitalize }}</h5>
                        <p>{{ 'work together to face challanges'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="far fa-file-alt"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'HR wallet'|trans|capitalize }}</h5>
                        <p>{{ 'future proof HR file'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fab fa-accessible-icon"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'competencies'|trans|capitalize }}</h5>
                        <p>{{ 'relate intershcips, challanges to competencies'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fab fa-html5"></span></span>
                        <h5 class="font-weight-normal text-primary">{{ 'goals'|trans|capitalize }}</h5>
                        <p>{{ 'students set competency goals'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
