
<section class="section section-lg bg-soft">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
                <h2 class="h1">{{ 'internships'|trans|capitalize }}</h2>
                <p class="mb-4 lead">{{ 'everybody wroks from home so why not your inters?!'|trans|capitalize }}</p>
                <p class="mb-4">{{ 'by providing adiquite tooling and onboarding.'|trans|capitalize }}</p>
                <div class="d-flex justify-content-between mt-lg-4 mb-5">
                    <div>
                        <a href="{{ path('app_internship_index') }}" class="btn btn-primary animate-up-2"><span class="fas fa-briefcase mr-2"></span> {{ 'internships'|trans|capitalize }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="./images/internship.svg" alt="Internships">
            </div>
        </div>
        <div class="row justify-content-center my-5 mt-lg-6">
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="fal fa-file-alt"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'tutorials'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'onboard your interns'|trans|capitalize }}</p>
            </div>
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="far fa-code"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'devolop'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'progress interviews'|trans|capitalize }}</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="far fa-bullseye"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'goals'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'competencies and skills'|trans|capitalize }}</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="fad fa-tasks-alt"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'manage'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'book and check hours'|trans|capitalize }}</p>
            </div>
        </div>
    </div>
</section>
