
<section class="section section-lg">
    <div class="container">
        <div class="row justify-content-between align-items-center mb-5 mb-lg-6">
            <div class="col-lg-5 order-lg-2 mb-5 mb-lg-0">
                <h2 class="h1">{{ 'tutorials'|trans|capitalize }}</h2>
                <p class="mb-4 lead">{{ 'aquire practical knowledge about your career'|trans|capitalize }}</p>
                <p class="mb-4">{{ 'in the old world we used to do onboaring and on the job trainging, that is now no longer possible.'|trans|capitalize}} {{ 'we need to find a new way for interns and new employees to onboard themselfs into the workspace'|trans|capitalize }}</p>
                <a href="{{ path('app_education_tutorials') }}" class="btn btn-secondary animate-up-2 mr-3"><span class="fas fa-file-alt mr-2"></span> {{ 'tutorials'|trans|capitalize }}</a>
            </div>
            <div class="col-lg-6 order-lg-1">
                <img src="./images/tutorial.svg" alt="Tutorials">
            </div>
        </div>
        <div class="row justify-content-center mb-7">
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                    <span class="fad fa-handshake"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'onboarding'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'company specifc'|trans|capitalize }}</p>
            </div>
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                    <span class="far fa-video"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'video'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'interactive content'|trans|capitalize }}</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                    <span class="far fa-code"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'code'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'inpage code examples'|trans|capitalize }}</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                    <span class="fad fa-tasks-alt"></span>
                </div>
                <h3 class="font-weight-bolder">{{ 'manage'|trans|capitalize }}</h3>
                <p class="text-gray">{{ 'attandence and results'|trans|capitalize }}</p>
            </div>
        </div>
    </div>
</section>

