{% extends "dashboard/base.html.twig" %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar">
            <button class="btn btn-primary btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-plus mr-2"></span>{{ 'find new'|trans|capitalize }}</button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                <a class="dropdown-item font-weight-bold" href="{{ path('app_education_tutorials') }}"><span class="fas fa-tasks mr-2"></span>{{ 'tutorials'|trans|capitalize }}</a>
                <a class="dropdown-item font-weight-bold" href="{{ path('app_internship_index') }}"><span class="fas fa-cloud-upload-alt mr-2"></span>{{ 'internships'|trans|capitalize }}</a>
                <a class="dropdown-item font-weight-bold" href="{{ path('app_challenge_index') }}"><span class="fas fa-user-shield mr-2"></span>{{ 'challenges'|trans|capitalize }}</a>
                <a class="dropdown-item font-weight-bold" href="{{ path('app_team_index') }}"><span class="fas fa-user-shield mr-2"></span>{{ 'teams'|trans|capitalize }}</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item font-weight-bold" href="{{ path('app_organization_index') }}"><span class="fas fa-rocket text-danger mr-2"></span>{{ 'organization'|trans|capitalize }}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    {% include 'dashboard/tables/applications.html.twig' %}
                </div>
                <div class="col-12 mb-4">
                    {% include 'dashboard/tables/propositions.html.twig' %}
                </div>
                <div class="col-12 mb-4">
                    {% include 'dashboard/tables/participants.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <div class="col-12 px-0 mb-4">
                {% include 'dashboard/widgets/events.html.twig' %}
            </div>
            <div class="col-12 px-0 mb-4">
                {% include 'dashboard/widgets/position.html.twig' %}
            </div>
            <div class="col-12 px-0 mb-4">
                {% include 'dashboard/widgets/teams.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
