<div class="sidebar-sticky pt-4 mx-auto">
    <div class="user-card d-flex align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
            <div class="user-avatar lg-avatar mr-4"><img src="/bundles/rocket/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white" alt="{% if app.user.username is defined %}{{ app.user.username }}{% endif %}">
            </div>
            <div class="d-block">
                <h2 class="h6">{% if app.user.username is defined %}{{ app.user.username }}{% endif %}</h2>
                <h2 class="h6">{% if app.user.organization is defined %}{% set organization = commonground_resource(app.user.organization) %}{{ organization['name'] }}{% endif %}</h2>
                <a href="{{ path('app_user_logout') }}" class="btn btn-secondary btn-xs"><span class="mr-2"><span class="fas fa-sign-out-alt"></span></span>{{ 'logout'|trans|capitalize }}</a></div>
        </div>
        <div class="collapse-close d-md-none">
            <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
        </div>
    </div>
    <ul class="nav flex-column mt-4">
        <li class="nav-item active"><a href="{{ path('app_default_index') }}" class="nav-link"><span class="sidebar-icon"><img src="/bundles/rocket/assets/img/brand/light.svg" style="height: 25px; width: 25px;"></span> <span>{{ 'home'|trans|capitalize }}</span></a></li>
        <li class="nav-item"><a href="{{ path('app_dashboarduser_index') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> <span>{{ 'overview'|trans|capitalize }}</span></a></li>
        <li class="nav-item"><a href="{{ path('app_dashboarduser_tutorials') }}" class="nav-link d-flex align-items-center justify-content-between"><span><span class="sidebar-icon"><span class="fas fa-file-alt"></span></span>{{ 'tutorials'|trans|capitalize }}</span>{#<span class="badge badge-md badge-danger badge-pill">4</span> #}</a></li>
        <li class="nav-item"><a href="{{ path('app_dashboarduser_challenges') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-bullseye-arrow"></span></span> <span>{{ 'challenges'|trans|capitalize }}</span></a></li>
        <li class="nav-item"><a href="{{ path('app_dashboarduser_internships') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-briefcase"></span></span> <span>{{ 'positions'|trans|capitalize }}</span></a></li>
        <li class="nav-item"><a href="{{ path('app_dashboarduser_teams') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-users"></span></span> <span>{{ 'teams'|trans|capitalize }}</span></a></li>
        <li class="nav-item"><a href="{{ path('app_dashboarduser_likes') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-heart"></span></span> <span>{{ 'likes'|trans|capitalize }}</span></a></li>
        <li class="nav-item"><a href="{{ path('app_dashboarduser_settings') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-cog"></span></span> <span>{{ 'settings'|trans|capitalize }}</span></a></li>
        {% if 'group.conduction' in app.user.roles %}
            <li class="nav-item"><a href="{{ path('app_dashboardorganization_conduction') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-users"></span></span> <span>{{ 'conduction'|capitalize }}</span></a></li>
        {% endif %}
        {% if app.user.organization is defined and app.user.organization is not empty %}
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between align-items-center collapsed" href="#submenu-app" data-toggle="collapse" data-target="#submenu-app" aria-expanded="false"><span><span class="sidebar-icon"><span class="fas fa-building"></span></span> {{ 'organization'|trans|capitalize }} </span><span class="link-arrow"><span class="fas fa-chevron-right"></span></span></a><div class="multi-level collapse" role="list" id="submenu-app" aria-expanded="false" style="">
                    <ul class="flex-column nav">
    {#                    <li class="nav-item active"><a href="{{ path('app_dashboardorganization_index') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> <span>{{ 'overview'|trans|capitalize }}</span></a></li>#}
    {#                    <li class="nav-item"><a href="{{ path('app_default_index') }}" class="nav-link"><span class="sidebar-icon"><img src="/bundles/rocket/assets/img/brand/light.svg" style="height: 25px; width: 25px;"></span> <span>{{ 'home'|trans|capitalize }}</span></a></li>#}
                        <li class="nav-item"><a href="{{ path('app_dashboarduser_organizations') }}" class="nav-link "><span class="sidebar-icon"><span class="fal fa-building"></span></span> <span>{{ 'organizations'|trans|capitalize }}</span></a></li>
                        <li class="nav-item"><a href="{{ path('app_dashboardorganization_tutorials') }}" class="nav-link d-flex align-items-center justify-content-between"><span><span class="sidebar-icon"><span class="fas fa-file-alt"></span></span>{{ 'tutorials'|trans|capitalize }}</span><span class="badge badge-md badge-danger badge-pill"></span></a></li>
                        <li class="nav-item"><a href="{{ path('app_dashboardorganization_challenges') }}" class="nav-link "><span class="sidebar-icon"><span class="fas fa-bullseye-arrow"></span></span> <span>{{ 'challenges'|trans|capitalize }}</span></a></li>
                        <li class="nav-item"><a href="{{ path('app_dashboardorganization_internships') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-briefcase"></span></span> <span>{{ 'positions'|trans|capitalize }}</span></a></li>
                        <li class="nav-item"><a href="{{ path('app_dashboardorganization_invoices') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-file-invoice"></span></span> <span>{{ 'invoices'|trans|capitalize }}</span></a></li>
                        <li class="nav-item"><a href="{{ path('app_dashboardorganization_products') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-briefcase"></span></span> <span>{{ 'products'|trans|capitalize }}</span></a></li>
                        {#                    <li class="nav-item"><a href="{{ path('app_dashboardorganization_competences') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-book"></span></span> <span>{{ 'competences'|trans|capitalize }}</span></a></li>#}
    {#                    <li class="nav-item"><a href="{{ path('app_dashboardorganization_teams') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-users"></span></span> <span>{{ 'teams'|trans|capitalize }}</span></a></li>#}
                        <li class="nav-item"><a href="{{ path('app_dashboardorganization_settings') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-cog"></span></span> <span>{{ 'settings'|trans|capitalize }}</span></a></li>
                        <li class="nav-item"><a href="{{ path('app_dashboardorganization_participants') }}" class="nav-link"><span class="sidebar-icon"><span class="fas fa-users"></span></span> <span>{{ 'participants'|trans|capitalize }}</span></a></li>
                    </ul>
                </div>
            </li>
        {% endif %}
    </ul>
</div>
