{% extends "dashboard/base.html.twig" %}

{% block content %}
    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span
                                class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboardorganization_challenges') }}">{{ 'Challenges'|trans|capitalize }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'Challenge'|trans|capitalize }}</li>
                </ol>
            </nav>
            {% if challenge['@id'] is defined and challenge['@id'] is not empty %}
                <h2 class="h4">{{ challenge.name }}</h2>
                <p class="mb-0">{{ challenge.description }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <!-- left collum -->
        <div class="col-12 col-xl-8">
            <div class="card card-body bg-white border-light shadow-sm mb-4">
                <h2 class="h5 mb-4">{{ 'general information'|trans|capitalize }}</h2>
                <form action="{{ path('app_dashboardorganization_challenge', {id: challenge.id} ) }}" method="post">
                    {% if challenge['@id'] is defined and challenge['@id'] is not empty %}
                        <input type="hidden" name="@id" id="@id" value="{{ challenge['@id'] }}">
                    {% endif %}
                    {% if challenge['id'] is defined and challenge['id'] is not empty %}
                        <input type="hidden" name="id" id="id" value="{{ challenge['id'] }}">
                    {% endif %}
                    {% if challenge.currentStage is defined and challenge.currentStage is not empty %}
                        <input type="hidden" name="currentStage" id="id"
                               value="/tender_stages/{{ challenge.currentStage['id'] }}">
                    {% endif %}
                    {% if challenge.questions is defined and challenge.questions is not empty %}
                        {% for question in challenge.questions %}
                            <input type="hidden" name="questions[]" id="id" value="/questions/{{ question['id'] }}">
                        {% endfor %}
                    {% endif %}
                    {% if challenge.entries is defined and challenge.entries is not empty %}
                        {% for entry in challenge.entries %}
                            <input type="hidden" name="entries[]" id="id" value="/entries/{{ entry['id'] }}">
                        {% endfor %}
                    {% endif %}
                    {% if challenge.pitches is defined and challenge.pitches is not empty %}
                        {% for pitch in challenge.pitches %}
                            <input type="hidden" name="pitches[]" id="id" value="/pitches/{{ pitch['id'] }}">
                        {% endfor %}
                    {% endif %}
                    {% if challenge.proposals is defined and challenge.proposals is not empty %}
                        {% for proposal in challenge.proposals %}
                            <input type="hidden" name="proposals[]" id="id" value="/proposals/{{ proposal['id'] }}">
                        {% endfor %}
                    {% endif %}
                    {% if challenge.deal is defined and challenge.deal is not empty %}
                        <input type="hidden" name="deal" id="id" value="/deals/{{ challenge.deal['id'] }}">
                    {% endif %}
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div class="form-group">
                                <label for="name">{{ 'name'|trans|capitalize }}
                                    <span class="text-danger">*</span></label>
                                <input class="form-control" id="name" name="name" type="text"
                                       required=""
                                    {% if challenge.name is defined and challenge.name is not empty %}
                                        value="{{ challenge.name }}" {% else %} placeholder="{{ 'your challenge name'|trans|capitalize }}"
                                    {% endif %}
                                >
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="submitter">{{ 'submitter'|trans|capitalize }}
                                    <span class="text-danger">*</span></label>
                                <select class="form-control" id="submitter" name="submitter" type="text" required=""
                                        {% if challenge.submitter is defined and challenge.submitter is not empty %}disabled{% endif %}>
                                        {% set organizationUrl = commonground_cleanurl({'component': 'wrc', 'type': 'organizations', 'id': organization.id}) %}
                                        <option value="{{ organizationUrl }}">{{ organization.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="description">{{ 'description'|trans|capitalize }}</label>
                                {% if challenge.description is defined and challenge.description is not empty %}
                                    <input class="form-control" id="description" name="description" type="text"
                                           value="{{ challenge.description }}">
                                {% else %}
                                    <textarea class="form-control" id="description" name="description"
                                              rows="3" maxlength="600"></textarea>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="selectionCritera[]">{{ 'requirements'|trans|capitalize }}</label>
                                {% if challenge.selectionCritera is defined and challenge.selectionCritera is not empty %}
                                    <input class="form-control" id="selectionCritera[]" name="selectionCritera[]"
                                           type="text" {% for selectionCritera in challenge.selectionCritera %}
                                        value="{{ challenge.selectionCritera[0] }}" {% endfor %} disabled>
                                {% else %}
                                    <select class="form-control" id="selectionCritera[]" name="selectionCritera[]">
                                        <option>{{ 'Geen requirements'|trans|capitalize }}</option>
                                        {% for tutorial in tutorials %}
                                            <option>{{ tutorial.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="documents[]">{{ 'documents'|trans|capitalize }}</label>
                                {% if challenge.documents is defined and challenge.documents is not empty %}
                                    <input class="form-control" id="documents[]" name="documents[]" type="text"
                                        {% for documents in challenge.documents %}
                                            value="{{ challenge.documents[0] }}" {% endfor %} readonly>
                                {% else %}
                                    <input class="form-control" id="documents[]" name="documents[]" type="file">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="budget">{{ 'budget'|trans|capitalize }}</label>
                                {% if challenge.budget is defined and challenge.budget is not empty %}
                                    <input class="form-control" id="budget" name="budget" type="number" min="0"
                                           value="{{ challenge.budget }}" readonly>
                                {% else %}
                                    <input class="form-control" id="budget" name="budget" type="number" min="0"
                                           step="0.01" value="0.00" required>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="dateClose">{{ 'close date'|trans|capitalize }}</label>
                                {% if challenge.dateClose is defined and challenge.dateClose is not empty %}
                                    <input class="form-control" id="dateClose" name="dateClose" type="datetime-local"
                                           required=""
                                           value="{{ challenge.dateClose|date("Y-m-d\\TH:i", "Europe/Paris") }}"
                                           readonly>
                                {% else %}
                                    <input class="form-control" id="dateClose" name="dateClose" type="datetime-local"
                                           min="{{ "now"|date("Y-m-d\\TH:i") }}"
                                           required="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">{{ 'save'|trans|capitalize }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if challenge['@id'] is defined and challenge['@id'] is not empty %}
        <h3 class="h4">{{ 'Proposals'|trans|capitalize }}</h3>
        <p class="mb-0">{{ 'These people have applied to your position'|trans|capitalize }}</p>

        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="border-0">
                        <div class="form-check dashboard-check">
                            <input class="form-check-input" type="checkbox" value="" id="userCheck55">
                            <label class="form-check-label" for="userCheck55"></label>
                        </div>
                    </th>
                    <th class="border-0">{{ 'Name'|trans|capitalize }}</th>
                    <th class="border-0">{{ 'Date Created'|trans|capitalize }}</th>
                    <th class="border-0">{{ 'Verified'|trans|capitalize }}</th>
                    <th class="border-0">{{ 'Status'|trans|capitalize }}</th>
                    <th class="border-0">{{ 'Action'|trans|capitalize }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% if proposals is defined and proposals is not empty %}
                        {% for proposal in proposals %}
                            <td>
                                <div class="form-check dashboard-check">
                                    <input class="form-check-input" type="checkbox" value="" id="userCheck1">
                                    <label class="form-check-label" for="userCheck1"></label>
                                </div>
                            </td>
                            <td>
                                <a href="#" class="d-flex align-items-center"><img
                                        src="../../assets/img/team/profile-picture-1.jpg"
                                        class="user-avatar rounded-circle mr-3" alt="Avatar">
                                    <div class="d-block"><span
                                            class="font-weight-bold">{{ proposal.name }}</span>
                                        <div class="small text-gray">{{ proposal.description }}</div>
                                    </div>
                                </a>
                            </td>
                            <td><span
                                    class="font-weight-normal">{{ proposal.created|date("d-m-Y", "Europe/Paris") }}</span>
                            </td>
                            <td><span class="font-weight-normal"><span
                                        class="fas fa-check-circle text-success mr-2"></span>{{ 'Name'|trans|capitalize }}</span>
                            </td>
                            <td><span class="font-weight-normal text-success">{{ proposal.status }}</span></td>
                            <td>
                                <div class="btn-group">
                                    <button
                                        class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                            class="icon icon-sm"><span
                                                class="fas fa-ellipsis-h icon-dark"></span> </span><span
                                            class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu"><a class="dropdown-item" href="#"><span
                                                class="fas fa-user-shield mr-2"></span>{{ 'Reset Pass'|trans|capitalize }}
                                        </a> <a
                                            class="dropdown-item" href="#"><span
                                                class="fas fa-eye mr-2"></span>{{ 'View
                                                Details'|trans|capitalize }}</a>
                                        <a class="dropdown-item text-danger" href="#"><span
                                                class="fas fa-user-times mr-2"></span>{{ 'Suspend'|trans|capitalize }}
                                        </a></div>
                                </div>
                                <a href="#" class="text-danger ml-2" title="" data-toggle="tooltip"
                                   data-original-title="Delete"><span class="fas fa-times-circle"></span></a>
                            </td>
                        {% endfor %}
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    <!-- right collum -->
    <div class="col-12 col-xl-8" style="margin-top: 20px;">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-6">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">{{ 'Select profile photo'|trans|capitalize }}</h2>
                    <div class="d-xl-flex align-items-center">
                        <div>
                            <div class="user-avatar xl-avatar mb-3"><img class="rounded"
                                                                         src="../../assets/img/team/profile-picture-3.jpg"
                                                                         alt="change avatar"></div>
                        </div>
                        <div class="file-field">
                            <div class="d-flex justify-content-xl-center ml-xl-3">
                                <div class="d-flex"><span class="icon icon-md"><span
                                            class="fas fa-paperclip mr-3"></span></span>
                                    <input type="file">
                                    <div class="d-md-block text-left">
                                        <div
                                            class="font-weight-normal text-dark mb-1">{{ 'Choose Image'|trans|capitalize }}</div>
                                        <div
                                            class="text-gray small">{{ 'JPG, GIF or PNG. Max size of 800K'|trans|capitalize }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-6">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">{{ 'Select cover photo'|trans|capitalize }}</h2>
                    <div class="d-xl-flex align-items-center">
                        <div>
                            <div class="user-avatar xl-avatar mb-3"><img class="rounded"
                                                                         src="../../assets/img/carousel/image-2.jpg"
                                                                         alt="change avatar"></div>
                        </div>
                        <div class="file-field">
                            <div class="d-flex justify-content-xl-center ml-xl-3">
                                <div class="d-flex"><span class="icon icon-md"><span
                                            class="fas fa-paperclip mr-3"></span></span>
                                    <input type="file">
                                    <div class="d-md-block text-left">
                                        <div
                                            class="font-weight-normal text-dark mb-1">{{ 'Choose Image'|trans|capitalize }}</div>
                                        <div
                                            class="text-gray small">{{ 'JPG, GIF or PNG. Max size of 800K'|trans|capitalize }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
