{% extends "dashboard/base.html.twig" %}

{% block content %}

    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active">{{ 'Positions'|trans|capitalize }}</li>
                </ol>
            </nav>
            <h2 class="h4">{{ 'competencies'|trans|capitalize }}</h2>
            <p class="mb-0">{{ 'all competencies you have created and where you can create new ones'|trans|capitalize }}</p>
        </div>
    </div>

    <div class="d-lg-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="col-auto d-flex justify-content-between pl-0 mb-4 mb-lg-0">
            <div class="mr-lg-3"><a href="{{ path('app_dashboardorganization_internship', {id: 'new'}) }}" class="btn btn-secondary"><span class="fas fa-plus mr-2"></span><span>{{ 'new position'|trans|capitalize }}</span></a></div>
        </div>
        <div class="col-12 col-lg-6 px-0">
            <form action="{{ path('app_dashboardorganization_internships', query) }}">
            <div class="form-group mb-0">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><span class="fas fa-search"></span></span>
                    </div>
                    <input name="search" id="search" class="form-control" placeholder="{{ 'search tasks here'|trans|capitalize }}" type="text" {% if query.search is defined and query.search is not empty %}value="{{ query.search }}"{% endif %}>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-block btn-primary "> {{ 'search'|trans|capitalize }}</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="border bg-white border-light shadow-sm py-1 rounded">
            <div class="card hover-state border-bottom rounded-0 py-3">
                <div class="card-body d-sm-flex align-items-center flex-wrap flex-lg-nowrap py-0 pl-sm-0">
                    <div class="col-auto col-lg-1 text-left text-sm-center pl-0 pl-sm-4 mb-2 mb-sm-0">
                        <div class="form-check check-lg inbox-check mr-sm-2">
                            <input class="form-check-input" type="checkbox" value="" id="mailCheck1" >
                            <label class="form-check-label" for="mailCheck1"></label>
                        </div>
                    </div>
                    <div class="col-10 col-lg-8 d-block px-0 mb-4 mb-md-0">
                        <div class="mb-2">
                            <h3 class="h5"><a style="color: black" href="">{{ 'name'|trans|capitalize }}</a></h3>
                        </div>
                        <div><a href="" class="font-weight-bold text-dark"><span class="font-weight-normal text-gray">{{ 'summery'|trans|capitalize }}</span></a></div>
                    </div>
                    <div class="col-10 col-sm-2 col-lg-2 col-xl-2 d-none d-lg-block d-xl-inline-flex align-items-center ml-lg-auto text-right justify-content-end px-md-0">
                        <div class="btn-group ml-md-3">
                            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-sm"><span class="fas fa-ellipsis-h icon-dark"></span> </span><span class="sr-only">Toggle Dropdown</span></button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>{{ 'edit'|trans|capitalize }}</a>
                                <a class="dropdown-item" href=""><span class="fas fa-edit mr-2"></span>{{ 'view online'|trans|capitalize }}</a>
                                <a class="dropdown-item text-danger" href="#"><span class="fas fa-trash-alt mr-2"></span>{{ 'delete'|trans|capitalize }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row p-4">
            <div class="col-7 mt-1">Showing 1 - 20 of 289</div>
            <div class="col-5">
                <div class="btn-group float-right"><a href="#" class="btn btn-light"><span class="fas fa-chevron-left"></span></a> <a href="#" class="btn btn-primary"><span class="fas fa-chevron-right"></span></a></div>
            </div>
        </div>
    </div>
{% endblock %}
