{% extends "dashboard/base.html.twig" %}
{% block content %}
    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span
                                class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboardorganization_internships') }}">{{ 'Positions'|trans|capitalize }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'Position'|trans|capitalize }}</li>
                </ol>
            </nav>
            {% if internship['@id'] is defined and internship['@id'] is not empty %}
                <h2 class="h4">{{ internship.name }} {{ 'To adjust'|trans|capitalize }}</h2>
                <p class="mb-0">{{ 'change your vacancy here'|trans|capitalize }}</p>
            {% else %}
                <h2 class="h4">{{ 'post vacancy'|trans|capitalize }}</h2>
                <p class="mb-0">{{ 'post a new vacancy via our form'|trans|capitalize }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body bg-white border-light shadow-sm mb-4">
                <h2 class="h5 mb-4">{{ 'Vacature informatie'|trans|capitalize }}</h2>
                <form action="{{ path('app_dashboardorganization_internship',{'id': internship.id}) }}" method="post">
                    {% if internship['@id'] is defined and internship['@id'] is not empty %}
                        <input type="hidden" name="@id" id="@id" value="{{ internship['@id'] }}">
                    {% endif %}
                    <!-- New Row -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="name">{{ 'name'|trans|capitalize }} <span class="text-danger">*</span></label>
                                <input
                                    class="form-control"
                                    id="name"
                                    type="text"
                                    {% if internship.name is defined and internship.name is not empty %}
                                        value="{{ internship.name }}"
                                    {% else %}
                                        placeholder="{{ 'name of the position'|trans|capitalize }}"
                                    {% endif %}
                                    name="name"
                                    required
                                >
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="title">{{ 'title'|trans|capitalize }} <span class="text-danger">*</span></label>
                                <input
                                    class="form-control"
                                    id="title"
                                    type="text"
                                    {% if internship.title is defined and internship.title is not empty %}
                                        value="{{ internship.title }}"
                                    {% else %}
                                        placeholder="{{ 'title of the position'|trans|capitalize }}"
                                    {% endif %}
                                    name="title"
                                    required
                                >
                            </div>
                        </div>
                    </div>

                    <!-- New Row -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="employmentType">{{ 'type of work'|trans|capitalize }} <span class="text-danger">*</span></label>
                                <select class="form-control" id="employmentType" name="employmentType" required>
                                    <option
                                        {% if internship.employmentType|default and internship.employmentType == 'internship' %}
                                            selected
                                        {% endif %}
                                        value="internship">{{ 'internship'|trans|capitalize }}
                                    </option>
                                    <option
                                        {% if internship.employmentType|default and internship.employmentType == 'full-time' %}
                                            selected
                                        {% endif %}
                                        value="full-time">{{ 'full-time'|trans|capitalize }}
                                    </option>
                                    <option
                                        {% if internship.employmentType|default and internship.employmentType == 'part-time' %}
                                            selected
                                        {% endif %}
                                        value="part-time">{{ 'part-time'|trans|capitalize }}
                                    </option>
                                    <option
                                        {% if internship.employmentType|default and internship.employmentType == 'temporary' %}
                                            selected
                                        {% endif %}
                                        value="temporary">{{ 'temporary'|trans|capitalize }}
                                    </option>
                                    <option
                                        {% if internship.employmentType|default and internship.employmentType == 'seasonal' %}
                                            selected
                                        {% endif %}
                                        value="seasonal">{{ 'seasonal'|trans|capitalize }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="standardHours"> {{ 'standard weekly hours'|trans|capitalize }} <span class="text-danger">*</span></label>
                                <input
                                    class="form-control"
                                    id="standardHours"
                                    type="text"
                                    step="1"
                                    pattern="\d+"
                                    {% if internship.standardHours is defined and internship.standardHours is not empty %}
                                        value="{{ internship.standardHours }}"
                                    {% else %}
                                        placeholder="{{ 'your internship standard hours'|trans|capitalize }}"
                                    {% endif %}
                                    name="standardHours"
                                    required
                                >
                            </div>
                        </div>
                    </div>

                    <!-- New Row -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="salaryCurrency"> {{ 'salary currency'|trans|capitalize }} </label>
                                <select class="form-control" id="salaryCurrency" name="salaryCurrency">
                                    <option
                                        {% if internship.salaryCurrency|default and internship.salaryCurrency == 'EUR' %}
                                            selected
                                        {% endif %}
                                        value="EUR">{{ 'EUR' }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="baseSalary">{{ 'salary indication'|trans|capitalize }}</label>
                                <input
                                    class="form-control"
                                    id="baseSalary"
                                    type="text"
                                    {% if internship.baseSalary is defined and internship.baseSalary is not empty %}
                                        value="{{ internship.baseSalary }}"
                                    {% else %}
                                        placeholder="{{ 'your internship salary indication'|trans|capitalize }}"
                                    {% endif %}
                                    name="baseSalary"
                                >
                            </div>
                        </div>
                    </div>

                    <!-- New Row -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="summary">{{ 'summary note'|trans|capitalize }}</label>
                                <input
                                    class="form-control"
                                    id="summary"
                                    name="summary"
                                    type="text"
                                    {% if internship.summary is defined and internship.summary is not empty %}
                                        value="{{ internship.summary }}"
                                    {% else %}
                                        placeholder="{{ 'your internship summary note'|trans|capitalize }}"
                                    {% endif %}>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="hiringOrganization"> {{ 'organization'|trans|capitalize }} </label>
                                <select class="form-control" id="hiringOrganization" name="hiringOrganization">
                                    {% for organization in organizations %}
                                        {% set organizationUrl = commonground_cleanurl({'component': 'wrc', 'type': 'organizations', 'id': organization.id}) %}
                                        <option
                                            {% if internship.hiringOrganization|default and internship.hiringOrganization == organizationUrl %}
                                                selected
                                            {% endif %}
                                            value="{{ organizationUrl }}">{{ organization.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- New Row -->
                    <div class="row">
                        <div class="col-md-9 mb-0">
                            <label for="educationRequirements[]">
                                {{ 'position conditions (everything that the applicant must meet)'|trans|capitalize }}
                                <br>
                                <strong>{{ 'press the blue button to add more conditions'|trans|capitalize }}</strong>
                                <br>{{ 'education:'|trans|capitalize }}
                            </label>
                        </div>
                        <div class="col-md-3 mb-0">
                            <br>
                            <button type="button" class="btn btn-sm btn-primary" onclick="addRequirements();">
                                {{ 'new condition'|trans|capitalize }}
                            </button>
                        </div>
                        <div class="col-md-12 mb-3 form-group" id="Requirements">
                            {% if internship.educationRequirements is defined and internship.educationRequirements is not empty %}
                                {% for educationRequirement in  internship.educationRequirements %}
                                    <input
                                        class="form-control mb-2"
                                        id="educationRequirements[]"
                                        type="text"
                                        value="{{ educationRequirement }}"
                                        placeholder="{{ 'enter a condition here'|trans|capitalize }}"
                                        name="educationRequirements[]"
                                    >
                                {% endfor %}
                            {% else %}
                                <input
                                    class="form-control"
                                    id="educationRequirements[]"
                                    type="text"
                                    placeholder="{{'example: Education: MBO 3 ICT administrator'|trans|capitalize }}"
                                    name="educationRequirements[]"
                                >
                            {% endif %}
                        </div>
                    </div>

                    <!-- New Row -->
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="jobLocationType">{{ 'location of the position'|trans|capitalize }}</label>
                                <input
                                    class="form-control"
                                    id="jobLocationType"
                                    type="text"
                                    {% if internship.jobLocationType is defined and internship.jobLocationType is not empty %}
                                        value="{{ internship.jobLocationType }}"
                                    {% else %}
                                        placeholder="{{ 'your internship job location'|trans|capitalize }}"
                                    {% endif %}
                                    name="jobLocationType"
                                >
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="jobStartDate">{{ 'start date of the position'|trans|capitalize }} <span class="text-danger">*</span></label>
                                <input
                                    class="form-control"
                                    id="jobStartDate"
                                    type="datetime-local"
                                    {% if internship.jobStartDate is not defined %}
                                        min="{{ "now"|date("Y-m-d\\TH:i") }}"
                                    {% endif %}
                                    {% if internship.jobStartDate is defined and internship.jobStartDate is not empty %}
                                        value="{{ internship.jobStartDate|date("Y-m-d\\TH:i") }}"
                                    {% else %}
                                        placeholder="format jaar-maand-dag"
                                    {% endif %}
                                    name="jobStartDate"
                                    required
                                >
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="validThrough">{{ 'end date of the position'|trans|capitalize }}</label>
                                <input
                                    class="form-control"
                                    id="validThrough"
                                    type="datetime-local"
                                    {% if internship.jobStartDate is defined and internship.jobStartDate is not empty %}
                                        min="{{ internship.jobStartDate|date("Y-m-d\\TH:i") }}"
                                    {% endif %}
                                    {% if internship.validThrough is defined and internship.validThrough is not empty %}
                                        value="{{ internship.validThrough|date("Y-m-d\\TH:i") }}"
                                    {% else %}
                                        placeholder="format jaar-maand-dag"
                                    {% endif %}
                                    name="validThrough"
                                >
                            </div>
                        </div>
                    </div>

                    <!-- New Row -->
                    <div class="row align-items-center">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="description">{{ 'description'|trans|capitalize }}</label>
                                {% if internship.description is defined and internship.description is not empty %}
                                    <textarea class="form-control" id="description" name="description"
                                              rows="3" cols="6"
                                    >{{ internship.description }}</textarea>
                                {% else %}
                                    <textarea class="form-control" id="description" name="description"
                                              placeholder="{{ 'extensive description of the position'|trans|capitalize }}"
                                              rows="3" cols="6"
                                    ></textarea>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">{{ 'save'|trans|capitalize }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if internship['@id'] is defined and internship['@id'] is not empty %}
        <h3 class="h4">{{ 'applicants'|trans|capitalize }}</h3>
        <p class="mb-0">
            {{ 'these people have applied to your position'|trans|capitalize }}</p>

        <div class="row">
            <div class="col-12 col-xl-10">
                <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="border-0">
                                    <div class="form-check dashboard-check">
                                        <input class="form-check-input" type="checkbox" value="" id="userCheck55">
                                        <label class="form-check-label" for="userCheck55"></label>
                                    </div>
                                </th>
                                <th class="border-0">{{ 'name'|trans|capitalize }}</th>
                                <th class="border-0">{{ 'date created'|trans|capitalize }}</th>
                                <th class="border-0">{{ 'status'|trans|capitalize }}</th>
                                <th class="border-0">{{ 'action'|trans|capitalize }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if applications|default %}
                                {% for application in applications %}
                                    {% if application.employee.person|default and commonground_is_resource(application.employee.person) %}
                                        {% set employeePerson = commonground_resource(application.employee.person) %}
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <div class="form-check dashboard-check">
                                                <input class="form-check-input" type="checkbox" value="" id="userCheck1">
                                                <label class="form-check-label" for="userCheck1"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#" class="d-flex align-items-center"><img
                                                    src="/bundles/rocket/assets/img/team/profile-picture-1.jpg"
                                                    class="user-avatar rounded-circle mr-3" alt="Avatar">
                                                <div class="d-block">
                                                    <span class="font-weight-bold">
                                                        {% if employeePerson.name is defined and employeePerson.name is not empty %}
                                                            {{ employeePerson.name }}
                                                        {% else %}
                                                            {{ 'no name available'|trans|capitalize }}
                                                        {% endif %}
                                                    </span>
                                                    <div class="small text-gray">
                                                        {% if employeePerson.emais is defined and employeePerson.emais is not empty %}
                                                            {{ employeePerson.emais[0] }}
                                                        {% else %}
                                                            {{ 'no email available'|trans|capitalize }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="font-weight-normal">{{ application.dateCreated|date("d-m-Y", "Europe/Paris") }}</span>
                                        </td>
                                        <td>
                                            <span class="font-weight-normal text-success">{{ application.status }}</span>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="icon icon-sm">
                                                                <span class="fas fa-ellipsis-h icon-dark"></span>
                                                            </span>
                                                    <span class="sr-only">{{ 'Toggle Dropdown'|trans|capitalize }}</span>
                                                </button>

                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">
                                                        <span class="fas fa-eye mr-2"></span>
                                                        {{ 'View Details'|trans|capitalize }}
                                                    </a>
                                                    <a class="dropdown-item text-danger" href="#">
                                                        <span class="fas fa-user-times mr-2"></span>
                                                        {{ 'delete application'|trans|capitalize }}
                                                    </a>
                                                </div>
                                            </div>

                                            <a href="#" class="text-danger ml-2" title="" data-toggle="tooltip"
                                               data-original-title="Delete"><span class="fas fa-times-circle"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>
                                        <p>{{ 'No applications found'|trans|capitalize }}</p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="card-footer px-3 d-flex align-items-center justify-content-between">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mb-0">
                                <li class="page-item"><a class="page-link" href="#">{{ 'Previous'|trans|capitalize }}</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">{{ 'Next'|trans|capitalize }}</a></li>
                            </ul>
                        </nav>
                        <div class="font-weight-bold small">{{ 'showing'|trans|capitalize }} <b>5</b>  {{ 'out of'|trans }} <b>25</b> {{ 'entries'|trans }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        function addRequirements() {
            //maakt nieuw input veld voor educationRequirements[]
            const formDiv = document.getElementById('Requirements');
            const input = document.createElement('input');

            input.setAttribute('type', 'text');
            input.setAttribute('class', "form-control mb-2");
            input.setAttribute('name', 'educationRequirements[]');
            input.setAttribute('id', 'educationRequirements[]');
            input.setAttribute('placeholder', "Nieuwe voorwaarden");

            formDiv.appendChild(input);
        }
    </script>

{% endblock %}
