{% extends "dashboard/base.html.twig" %}

{% block content %}
    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span
                                class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboardorganization_products') }}">{{ 'products'|trans|capitalize }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'product'|trans|capitalize }}</li>
                </ol>
            </nav>
            {% if product['@id'] is defined and product['@id'] is not empty %}
                <h2 class="h4">{{ product.name }}</h2>
                <p class="mb-0">{{ product.description }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <!-- left collum -->
        <div class="col-12 col-xl-8">
            <div class="card card-body bg-white border-light shadow-sm mb-4">
                <h2 class="h5 mb-4">{{ 'product'|trans|capitalize }}</h2>
                <form action="{{ path('app_dashboardorganization_product', {id: product.id} ) }}" method="post">
                    {% if product['@id'] is defined and product['@id'] is not empty %}
                        <input type="hidden" name="@id" id="@id" value="{{ product['@id'] }}">
                    {% endif %}
                    {% if product['id'] is defined and product['id'] is not empty %}
                        <input type="hidden" name="id" id="id" value="{{ product['id'] }}">
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="name">{{ 'name'|trans|capitalize }}
                                    <span class="text-danger">*</span></label>
                                <input class="form-control" id="name" name="name" type="text"
                                       required=""
                                    {% if product.name is defined and product.name is not empty %}
                                        value="{{ product.name }}" {% else %} placeholder="{{ 'your product name'|trans|capitalize }}"
                                    {% endif %}
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="description">{{ 'description'|trans|capitalize }}</label>
                                {% if product.description is defined and product.description is not empty %}
                                    <input class="form-control" id="description" name="description" type="text"
                                           value="{{ product.description }}">
                                {% else %}
                                    <textarea class="form-control" id="description" name="description"
                                              rows="3" maxlength="600"></textarea>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="type">{{ 'type'|trans|capitalize }}
                                    <span class="text-danger">*</span></label>
                                <select class="form-control" id="type" name="type" required="">
                                    <option value="simple" {% if product.type is defined and product.type == 'simple' %}selected{% endif %}>{{ 'simple'|trans|capitalize }}</option>
                                    <option value="set" {% if product.type is defined and product.type == 'set' %}selected{% endif %}>{{ 'set'|trans|capitalize }}</option>
                                    <option value="virtual" {% if product.type is defined and product.type == 'virtual' %}selected{% endif %}>{{ 'virtual'|trans|capitalize }}</option>
                                    <option value="external" {% if product.type is defined and product.type == 'external' %}selected{% endif %}>{{ 'external'|trans|capitalize }}</option>
                                    <option value="ticket" {% if product.type is defined and product.type == 'ticket' %}selected{% endif %}>{{ 'ticket'|trans|capitalize }}</option>
                                    <option value="variable" {% if product.type is defined and product.type == 'variable' %}selected{% endif %}>{{ 'variable'|trans|capitalize }}</option>
                                    <option value="subscription" {% if product.type is defined and product.type == 'subscription' %}selected{% endif %}>{{ 'subscription'|trans|capitalize }}</option>
                                    <option value="person" {% if product.type is defined and product.type == 'person' %}selected{% endif %}>{{ 'person'|trans|capitalize }}</option>
                                    <option value="location" {% if product.type is defined and product.type == 'location' %}selected{% endif %}>{{ 'location'|trans|capitalize }}</option>
                                    <option value="service" {% if product.type is defined and product.type == 'service' %}selected{% endif %}>{{ 'service'|trans|capitalize }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">{{ 'save'|trans|capitalize }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
