{% extends "dashboard/base.html.twig" %}

{% block content %}

    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span
                                class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active"><a
                            href="{{ path('app_dashboardorganization_settings') }}">{{ 'settings'|trans|capitalize }}</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body bg-white border-light shadow-sm mb-4">
                <h2 class="h5 mb-4">{{ 'about my organization'|trans|capitalize }}</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="name">{{ 'name'|trans|capitalize }}</label>
                                <input class="form-control" id="name" name="name" type="text"
                                       value="">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="type">{{ 'type'|trans|capitalize }}</label>
                                <input class="form-control" id="type" name="type" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="description">{{ 'description'|trans|capitalize }}</label>
                                <input class="form-control" id="description" name="description" type="text"
                                       value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="coc">{{ 'coc'|trans|capitalize }}</label>
                                <input class="form-control" id="coc" name="coc" type="text"
                                       value="">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="vatID">{{ 'vatID'|trans|capitalize }}</label>
                                <input class="form-control" id="vatID" name="vatID" type="text"
                                       value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="adresses[]">{{ 'adresses'|trans|capitalize }}</label>
                                <input class="form-control" id="adresses[]" name="adresses[]" type="text"
                                       value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="telephones[]">{{ 'telephones'|trans|capitalize }}</label>
                                <input class="form-control" id="telephones[]" name="telephones[]" type="text"
                                       value="">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="emails[]">{{ 'emails'|trans|capitalize }}</label>
                                <input class="form-control" id="emails[]" name="emails[]" type="text"
                                       value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {% if organization.socials.0.facebook|default %}
                                <label for="socials.facebook">{{ 'facebook'|trans|capitalize }}</label>
                                <input class="form-control" id="socials.facebook" name="socials.facebook" type="text"
                                       value="{{ organization.socials.0.facebook }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {% if organization.socials.0.twitter|default %}
                                    <label for="socials.twitter">{{ 'twitter'|trans|capitalize }}</label>
                                    <input class="form-control" id="socials.twitter" name="socials.twitter" type="text"
                                           value="{{ organization.socials.0.twitter }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {% if organization.socials.0.linkedin|default %}
                                    <label for="socials.linkedin">{{ 'linkedin'|trans|capitalize }}</label>
                                    <input class="form-control" id="socials.linkedin" name="socials.linkedin" type="text"
                                           value="{{ organization.socials.0.linkedin }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {% if organization.socials.0.instagram|default %}
                                    <label for="socials.instagram">{{ 'instagram'|trans|capitalize }}</label>
                                    <input class="form-control" id="socials.instagram" name="socials.instagram" type="text"
                                           value="{{ organization.socials.0.instagram }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                {% if organization.socials.0.website|default %}
                                    <label for="socials.website">{{ 'website'|trans|capitalize }}</label>
                                    <input class="form-control" id="socials.website" name="socials.website" type="text"
                                           value="{{ organization.socials.0.website }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">{{ 'save'|trans|capitalize }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
