{% extends "dashboard/base.html.twig" %}

{% block content %}

    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span
                                class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active"><a
                            href="{{ path('app_dashboardorganization_settings') }}">{{ 'settings'|trans|capitalize }}</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body bg-white border-light shadow-sm mb-4">
                <h2 class="h5 mb-4">{{ 'about my organization'|trans|capitalize }}</h2>

                {% if app.user|default %}

                    <!-- Form -->
                    <form action="{{ path('app_dashboardorganization_settings') }}" method="post">
                        <div class="row">
                            <div class="col-12 col-md-12 mb-0">

                                <!-- Name -->
                                <div class="form-group">
                                    <label for="name">{{ 'name'|trans|capitalize }} <span style="color: red; font-weight: bold">*</span></label>
                                    <input required class="form-control" name="name" id="name" type="text" placeholder="{{ 'name'|trans|capitalize }}"
                                        {% if organization.name|default %}
                                            value="{{ organization.name }}"
                                        {% endif %}>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">

                                <!-- KVK -->
                                <div class="form-group">
                                    <label for="chamberOfComerce">{{ 'coc'|trans|capitalize }} </label>
                                    <input class="form-control" id="chamberOfComerce" name="chamberOfComerce" type="text" placeholder="{{ 'coc'|trans|capitalize }}"
                                        {% if organization.chamberOfComerce|default %}
                                            value="{{ organization.chamberOfComerce }}"
                                        {% endif %}>
                                </div>

                            </div>
                            <div class="col-md-6 mb-3">

                                <!-- Rsin -->
                                <div class="form-group">
                                    <label for="rsin">{{ 'rsin'|trans|capitalize }}</label>
                                    <input class="form-control" id="rsin" name="rsin" type="text" placeholder="{{ 'rsin'|trans|capitalize }}"
                                        {% if organization.rsin|default %}
                                            value="{{ organization.rsin }}"
                                        {% endif %}>
                                </div>

                            </div>
                        </div>

                        <h2 class="h5">{{ 'address'|trans|capitalize }}</h2>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- Street -->
                                <div class="form-group">
                                    <label for="street">{{ 'street'|trans|capitalize }}</label>
                                    <input class="form-control" name="street" id="street" type="text" placeholder="{{ 'street'|trans|capitalize }}"
                                        {% if organizationContact.adresses[0].street|default %}
                                        value="{{ organizationContact.adresses[0].street }}"
                                        {% endif %}>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <!-- House number -->
                                <div class="form-group">
                                    <label for="houseNumber">{{ 'house number'|trans|capitalize }}</label>
                                    <input class="form-control" name="houseNumber" id="houseNumber" type="text" placeholder="{{ 'house number'|trans|capitalize }}"
                                        {% if organizationContact.adresses[0].houseNumber|default %}
                                        value="{{ organizationContact.adresses[0].houseNumber }}"
                                        {% endif %}>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <!-- House number suffix -->
                                <div class="form-group">
                                    <label for="email">{{ 'suffix'|trans|capitalize }}</label>
                                    <input class="form-control" name="houseNumberSuffix" id="houseNumberSuffix" type="text" placeholder="{{ 'suffix'|trans|capitalize }}"
                                        {% if organizationContact.adresses[0].houseNumberSuffix|default %}
                                        value="{{ organizationContact.adresses[0].houseNumberSuffix }}"
                                        {% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">

                                <!-- Postal code -->
                                <div class="form-group">
                                    <label for="postalCode">{{ 'postal code'|trans|capitalize }}</label>
                                    <input class="form-control" name="postalCode" id="postalCode" type="text" placeholder="{{ 'postal code'|trans|capitalize }}"
                                        {% if organizationContact.adresses[0].postalCode|default %}
                                        value="{{ organizationContact.adresses[0].postalCode }}"
                                        {% endif %}>
                                </div>

                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <!-- Locality -->
                                <div class="form-group">
                                    <label for="locality">{{ 'locality'|trans|capitalize }}</label>
                                    <input class="form-control" name="locality" id="locality" type="text" placeholder="{{ 'locality'|trans|capitalize }}"
                                        {% if organizationContact.adresses[0].locality|default %}
                                        value="{{ organizationContact.adresses[0].locality }}"
                                        {% endif %}>
                                </div>
                            </div>
                        </div>

                        <h2 class="h5">{{ 'contact'|trans|capitalize }}</h2>

                        <div class="row">
                            <div class="col-md-6 mb-3">

                                <!-- Email -->
                                <div class="form-group">
                                    <label for="email">{{ 'email'|trans|capitalize }} </label>
                                    <input class="form-control" name="email" id="email" type="email" placeholder="{{ 'name@provider.com'|trans }}"
                                        {% if organizationContact.emails|default and organizationContact.emails|length > 0 %}
                                        value="{{ organizationContact.emails[0].email }}"
                                        {% endif %}>
                                </div>

                            </div>
                            <div class="col-md-6 mb-3">

                                <!-- Telephone -->
                                <div class="form-group">
                                    <label for="telephone">{{ 'telephone number'|trans|capitalize }}</label>
                                    <input class="form-control" name="telephone" id="telephone" type="tel" placeholder="0612345678"
                                        {% if organizationContact.telephones|default and organizationContact.telephones|length > 0 %}
                                        value="{{ organizationContact.telephones[0].telephone }}"
                                        {% endif %}>
                                </div>

                            </div>
                        </div>

                        <h2 class="h5">{{ 'socials'|trans|capitalize }}</h2>

                        <div class="row">
                            <div class="col-md-6 mb-0">
                                <div class="form-group">
                                    <label for="socials.facebook">{{ 'facebook'|trans|capitalize }}</label>
                                    <input class="form-control" id="socials.facebook" name="socials.facebook" type="text"
                                        {% if organizationContact.socials.0.facebook|default %}
                                           value="{{ organizationContact.socials.0.facebook }}"
                                        {% endif %}
                                    >
                                </div>
                            </div>
                            <div class="col-md-6 mb-0">
                                <div class="form-group">
                                    <label for="socials.twitter">{{ 'twitter'|trans|capitalize }}</label>
                                    <input class="form-control" id="socials.twitter" name="socials.twitter" type="text"
                                        {% if organizationContact.socials.0.twitter|default %}
                                           value="{{ organizationContact.socials.0.twitter }}"
                                        {% endif %}
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="socials.linkedin">{{ 'linkedin'|trans|capitalize }}</label>
                                    <input class="form-control" id="socials.linkedin" name="socials.linkedin" type="text"
                                        {% if organizationContact.socials.0.linkedin|default %}
                                           value="{{ organizationContact.socials.0.linkedin }}"
                                        {% endif %}
                                    >
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="socials.instagram">{{ 'instagram'|trans|capitalize }}</label>
                                    <input class="form-control" id="socials.instagram" name="socials.instagram" type="text"
                                        {% if organizationContact.socials.0.instagram|default %}
                                           value="{{ organizationContact.socials.0.instagram }}"
                                        {% endif %}
                                    >
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="socials.website">{{ 'website'|trans|capitalize }}</label>
                                    <input class="form-control" id="socials.website" name="socials.website" type="text"
                                        {% if organizationContact.socials.0.website|default %}
                                           value="{{ organizationContact.socials.0.website }}"
                                        {% endif %}
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-auto">

                                <!-- Button -->
                                <button class="btn btn-block btn-primary" name="updateInfo" value="true" type="submit">
                                    {{ 'save changes'|trans|capitalize }}
                                </button>

                            </div>
                        </div>
                    </form>
                {% else %}
                    <h4 class="mb-0">
                        {{ 'login required'|trans|capitalize }}
                    </h4>
                    <p>
                        {{ 'you need to login before you can view this page'|trans|capitalize }}<br>
                        {{ 'click'|trans|capitalize }} <a href="{{ path('app_user_idvault') }}">{{ 'here'|trans }}</a> {{ 'to login'|trans }}
                    </p>
                {% endif %}
            </div>
        </div>

        {% if app.user|default %}
            <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="col-12 col-sm-6 col-xl-12">
                        <div class="card card-body bg-white border-light shadow-sm mb-4">
                            <h2 class="h5 mb-4">{{ 'Select profile photo'|trans|capitalize }}</h2>
                            <div class="d-xl-flex align-items-center">
                                <div>
                                    <!-- Avatar -->
                                    <div class="user-avatar xl-avatar mb-3">
                                        <img class="rounded" src="/bundles/rocket/assets/img/team/profile-picture-3.jpg"
                                             alt="change avatar">
                                    </div>
                                </div>
                                <div class="file-field">
                                    <div class="d-flex justify-content-xl-center ml-xl-3">
                                        <div class="d-flex">
                                            <span class="icon icon-md"><span class="fas fa-paperclip mr-3"></span></span>
                                            <input type="file">
                                            <div class="d-md-block text-left">
                                                <div class="font-weight-normal text-dark mb-1">{{ 'Choose Image'|trans|capitalize }}</div>
                                                <div class="text-gray small">{{ 'JPG, GIF or PNG. Max size of 800K'|trans|capitalize }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
