{% extends "dashboard/base.html.twig" %}

{% block content %}
    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_dashboardorganization_teams') }}">{{ 'Teams'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'Team'|trans|capitalize }}</li>
                </ol>
            </nav>
            <h2 class="h4">{{ '[name]'|trans|capitalize }}</h2>
            <p class="mb-0">{{ '[text about what a team is]'|trans|capitalize }}</p>
        </div>
    </div>
{% endblock %}
