{% extends "dashboard/base.html.twig" %}

{% block content %}
    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active">{{ 'teams'|trans|capitalize }}</li>
                </ol>
            </nav>
            <h2 class="h4">{{ 'teams'|trans|capitalize }}</h2>
            <p class="mb-0">{{ 'They say 1+1=3, so that’s why we recommend students to work in teams on challenges!'|trans|capitalize }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    {% include 'dashboard/tables/teams.html.twig'  with {'editPath': 'app_dashboardorganization_team'} %}
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4 mb-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <h2 class="h5">{{ 'teams'|trans|capitalize }}</h2>
                        {# @todo links naar de tutorials waaraan de teams zijn gekoppeld. of een extra section bij de enkele pagina waar de gekoppelde tutorials worden weergeven#}
                        <p>{{ 'They say 1+1=3, so that’s why we recommend students to work in teams on challenges!'|trans|capitalize }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
