{% extends "dashboard/base.html.twig" %}

{% block content %}
    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span
                                class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboardorganization_tutorials') }}">{{ 'Tutorials'|trans|capitalize }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'Tutorial'|trans|capitalize }}</li>
                </ol>
            </nav>
            <h2 class="h4">{{ tutorial.name }}</h2>
            <p class="mb-0">[text about what a tutorial is]</p>
        </div>
    </div>


    <form action="{{ path('app_dashboardorganization_tutorial',{'id': tutorial.id}) }}" method="post">
        <!-- left collum -->
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body bg-white border-light shadow-sm mb-4">
                <h2 class="h5 mb-4">General information</h2>
                    {% if tutorial['@id'] is defined and tutorial['@id'] is not empty %}
                        <input type="hidden" name="@id" id="@id" value="{{ tutorial['@id'] }}">
                    {% endif %}


                    <input type="hidden" name="organization" id="organization"
                           value="https://dev.zuid-drecht.nl/api/v1/wrc/organizations/c571bdad-f34c-4e24-94e7-74629cfaccc9">


                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="Tutorial name">{{ 'Tutorial name'|trans|capitalize }}</label>
                                <input class="form-control" id="name" type="text"
                                    {% if tutorial.name is defined and tutorial.name is not empty %}
                                        value="{{ tutorial.name }}" {% else %}
                                        placeholder="{{ 'your tutorial name...'|trans|capitalize }}"{% endif %}
                                       name="name" required>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="description">{{ 'Tutorial description'|trans|capitalize }}</label>
                                <input class="form-control" id="description" type="text"
                                       required=""
                                    {% if tutorial.description is defined and tutorial.description is not empty %}
                                        value="{{ tutorial.description }}" {% else %}
                                        placeholder="{{ 'your tutorial description...'|trans|capitalize }}"{% endif %}
                                       name="description" required>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="text">{{ 'Tutorial text'|trans|capitalize }}</label>
                                {% if tutorial.text is defined and tutorial.text is not empty %}
                                    <textarea class="form-control" id="text" name="text" rows="3"
                                              cols="6">{{ tutorial.text }}</textarea>
                                {% else %}
                                    <textarea class="form-control" id="text" name="text"
                                              placeholder="The text of your tutorial will be displayed here..."
                                              rows="3" cols="6"></textarea>{% endif %}
                            </div>
                        </div>
                    </div>

                <div class="row align-items-center">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="additionalType">Type tutorial</label>
                        <select class="form-control" name="additionalType" id="additionalType">

                            <option value="werkomgeving">{{ 'werkomgeving'|trans }}</option>
                            <option value="setup">{{ 'setup'|trans }}</option>
                            <option value="layout"> {{ 'layout'|trans }} </option>
                            <option value="datamodellen">{{ 'datamodellen'|trans }}</option>

                        </select>
                    </div>
                </div>


                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="time required">{{ 'Tutorial time required '|trans|capitalize }}</label>
                                <input class="form-control" id="description" type="text"
                                       required=""
                                    {% if tutorial.timeRequired is defined and tutorial.timeRequired is not empty %}
                                        value="{{ tutorial.timeRequired }}" {% else %}
                                        placeholder="{{ 'The time required to read the tutorial...'|trans|capitalize }}"{% endif %}
                                       name="timeRequired" required>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label
                                    for="educationalCredentialAwarded">{{ 'Educational credential '|trans|capitalize }}</label>
                                <input class="form-control" id="educationalCredentialAwarded" type="text"
                                       required=""
                                    {% if tutorial.educationalCredentialAwarded is defined and tutorial.educationalCredentialAwarded is not empty %}
                                        value="{{ tutorial.educationalCredentialAwarded }}" {% else %}
                                        placeholder="{{ 'The level of education required for this tutorial...'|trans|capitalize }}"{% endif %}
                                       name="educationalCredentialAwarded" required>
                            </div>
                        </div>
                    </div>

                <div class="row align-items-center">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="video">{{ 'video url '|trans|capitalize }}</label>
                            <input class="form-control" id="video" type="text"
                                   placeholder="{{ 'A url for a video as an example...'|trans|capitalize }}" name="video">
                        </div>
                    </div>
                </div>

                    <div class="row align-items-center">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label
                                    for="occupationalCredentialAwarded">{{ 'Occupational Credential'|trans|capitalize }}</label>
                                {% if tutorial.occupationalCredentialAwarded is defined and tutorial.occupationalCredentialAwarded is not empty %}
                                    <textarea class="form-control" id="occupationalCredentialAwarded" name="occupationalCredentialAwarded" rows="3"
                                              cols="6">{{ tutorial.occupationalCredentialAwarded }}</textarea>
                                {% else %}
                                    <textarea class="form-control" id="occupationalCredentialAwarded" name="occupationalCredentialAwarded"
                                              placeholder="Indicate in the tutorial which professional certificate you receive..."
                                              rows="3" cols="6"></textarea>{% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Save All</button>
                    </div>
                </form>
            </div>

            <h3 class="h4">Participants</h3>
            <p class="mb-0">These people are following your tutorial</p>

            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="border-0">
                            <div class="form-check dashboard-check">
                                <input class="form-check-input" type="checkbox" value="" id="userCheck55">
                                <label class="form-check-label" for="userCheck55"></label>
                            </div>
                        </th>
                        <th class="border-0">{{ 'Name'|trans|capitalize }}</th>
                        <th class="border-0">{{ 'Date Created'|trans|capitalize }}</th>
                        <th class="border-0">{{ 'Verified'|trans|capitalize }}</th>
                        <th class="border-0">{{ 'Status'|trans|capitalize }}</th>
                        <th class="border-0">{{ 'Action'|trans|capitalize }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% if participants is defined and participants is not empty %}
                        {% for participant in participants %}
                        <td>
                            <div class="form-check dashboard-check">
                                <input class="form-check-input" type="checkbox" value="" id="userCheck1">
                                <label class="form-check-label" for="userCheck1"></label>
                            </div>
                        </td>
                        <td>
                            <a href="#" class="d-flex align-items-center"><img
                                    src="../../assets/img/team/profile-picture-1.jpg"
                                    class="user-avatar rounded-circle mr-3" alt="Avatar">
                                <div class="d-block"><span class="font-weight-bold">{{ participant.person }}</span>
                                    <div class="small text-gray"> </div>
                                </div>
                            </a>
                        </td>
                        <td><span class="font-weight-normal">{{ participant.created|date("d-m-Y", "Europe/Paris") }}</span>
                        </td>
                        <td><span class="font-weight-normal">
                                <span class="fas fa-check-circle text-success mr-2"></span>Email</span>
                        </td>
                        <td><span class="font-weight-normal text-success">{{ participant.results }}</span></td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                        class="icon icon-sm"><span
                                            class="fas fa-ellipsis-h icon-dark"></span> </span><span
                                        class="sr-only">Toggle Dropdown</span>
                                </button>

                                <div class="dropdown-menu"><a class="dropdown-item" href="#"><span
                                            class="fas fa-user-shield mr-2"></span> Reset Pass</a> <a
                                        class="dropdown-item" href="#"><span class="fas fa-eye mr-2"></span>View
                                        Details</a> <a class="dropdown-item text-danger" href="#"><span class="fas fa-user-times mr-2"></span>Suspend</a></div>
                            </div>

                            <a href="#" class="text-danger ml-2" title="" data-toggle="tooltip"
                               data-original-title="Delete"><span class="fas fa-times-circle"></span></a></td>
                        {% endfor %}
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
                <div class="card-footer px-3 d-flex align-items-center justify-content-between">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mb-0">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                    <div class="font-weight-bold small">Showing <b>5</b> out of <b>25</b> entries</div>
                </div>

                <h3 class="h4">Participants</h3>
                {% if participants|default %}
                    <p class="mb-0">These people are following your tutorial</p>



                <div class="col-12 mb-4 mb-xl-0">
                    <div class="card card-body bg-white border-light">
                        <h2 class="h5 mb-4">Requirements</h2>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="border-0">
                                    {#                                    <div class="form-check dashboard-check">#}
                                    {#                                        <input class="form-check-input" type="checkbox" value="" id="userCheck55">#}
                                    {#                                        <label class="form-check-label" for="userCheck55"></label>#}
                                    {#                                    </div>#}
                                </th>
                                <th class="border-0">Name</th>
                                {#                                <th class="border-0">Action</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% if requirements is defined and requirements is not empty %}
                                {% for requirement in requirements %}
                                    <tr>
                                        <td>
                                            <div class="form-check dashboard-check">
                                                <input class="form-check-input" type="checkbox"
                                                       value="/requirements/{{ requirement.id }}"
                                                       id="{{ requirement.id }}Checkbox" name="requirements[]"
                                                    {% if tutorial.requirements|default %}{% for act in tutorial.requirements %}
                                                    {% if requirement.id == act.id %}checked{% endif %}{% endfor %}{% endif %}>
                                                <label class="form-check-label"
                                                       for="{{ requirement.id }}Checkbox"></label>
                                            </div>
                                        </td>
                                        <td><span
                                                class="font-weight-normal">{{ requirement.name }}</span>
                                        </td>
                                        {#                                        <td>#}
                                        {#                                            <div class="btn-group">#}
                                        {#                                                <button#}
                                        {#                                                    class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"#}
                                        {#                                                    data-toggle="dropdown" aria-haspopup="true"#}
                                        {#                                                    aria-expanded="false"><span#}
                                        {#                                                        class="icon icon-sm"><span#}
                                        {#                                                            class="fas fa-ellipsis-h icon-dark"></span> </span><span#}
                                        {#                                                        class="sr-only">Toggle Dropdown</span>#}
                                        {#                                                </button>#}
                                        {#                                                <div class="dropdown-menu"><a class="dropdown-item" href="#"><span#}
                                        {#                                                            class="fas fa-user-shield mr-2"></span> Reset Pass</a> <a#}
                                        {#                                                        class="dropdown-item" href="#"><span#}
                                        {#                                                            class="fas fa-eye mr-2"></span>View#}
                                        {#                                                        Details</a> <a class="dropdown-item text-danger" href="#"><span#}
                                        {#                                                            class="fas fa-user-times mr-2"></span>Suspend</a></div>#}
                                        {#                                            </div>#}
                                        {#                                            <a href="#" class="text-danger ml-2" title="" data-toggle="modal"#}
                                        {#                                               data-target="#{{ activity.id }}"><span#}
                                        {#                                                    class="fas fa-times-circle"></span></a>#}
                                        {#                                        </td>#}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        {% if requirements|default %}
                            {% for requirement in requirements %}
                                <div class="modal fade" id="{{ requirement.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="modal-default" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title">Edit {{ requirement.id }}</h6>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>With less than a month to go before the European Union enacts new
                                                    consumer privacy laws for its citizens, companies around the
                                                    world
                                                    are updating their terms of service agreements to comply.</p>
                                                <p>The European Union's General Data Protection Regulation
                                                    (G.D.P.R.)
                                                    goes into effect on May 25 and is meant to ensure a common set
                                                    of
                                                    data rights in the European Union. It requires organizations to
                                                    notify users as
                                                    soon as possible of high-risk data breaches that could
                                                    personally
                                                    affect them.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-secondary">I Got It
                                                </button>
                                                <button type="button" class="btn btn-link text-danger ml-auto"
                                                        data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>







                <div class="col-12 mb-4 mb-xl-0">
                    <div class="card card-body bg-white border-light">
                        <h2 class="h5 mb-4">Activities</h2>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="border-0">
                                    {#                                    <div class="form-check dashboard-check">#}
                                    {#                                        <input class="form-check-input" type="checkbox" value="" id="userCheck55">#}
                                    {#                                        <label class="form-check-label" for="userCheck55"></label>#}
                                    {#                                    </div>#}
                                </th>
                                <th class="border-0">Name</th>
                                {#                                <th class="border-0">Action</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% if activities is defined and activities is not empty %}
                                {% for activity in activities %}
                                    <tr>
                                        <td>
                                            <div class="form-check dashboard-check">
                                                <input class="form-check-input" type="checkbox"
                                                       value="/activities/{{ activity.id }}"
                                                       id="{{ activity.id }}Checkbox" name="activities[]"
                                                       {% if tutorial.activities|default %}{% for act in tutorial.activities %}
                                                    {% if activity.id == act.id %}checked{% endif %}{% endfor %}{% endif %}>
                                                <label class="form-check-label"
                                                       for="{{ activity.id }}Checkbox"></label>
                                            </div>
                                        </td>
                                        <td><span
                                                class="font-weight-normal">{{ activity.name }}</span>
                                        </td>
                                        {#                                        <td>#}
                                        {#                                            <div class="btn-group">#}
                                        {#                                                <button#}
                                        {#                                                    class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"#}
                                        {#                                                    data-toggle="dropdown" aria-haspopup="true"#}
                                        {#                                                    aria-expanded="false"><span#}
                                        {#                                                        class="icon icon-sm"><span#}
                                        {#                                                            class="fas fa-ellipsis-h icon-dark"></span> </span><span#}
                                        {#                                                        class="sr-only">Toggle Dropdown</span>#}
                                        {#                                                </button>#}
                                        {#                                                <div class="dropdown-menu"><a class="dropdown-item" href="#"><span#}
                                        {#                                                            class="fas fa-user-shield mr-2"></span> Reset Pass</a> <a#}
                                        {#                                                        class="dropdown-item" href="#"><span#}
                                        {#                                                            class="fas fa-eye mr-2"></span>View#}
                                        {#                                                        Details</a> <a class="dropdown-item text-danger" href="#"><span#}
                                        {#                                                            class="fas fa-user-times mr-2"></span>Suspend</a></div>#}
                                        {#                                            </div>#}
                                        {#                                            <a href="#" class="text-danger ml-2" title="" data-toggle="modal"#}
                                        {#                                               data-target="#{{ activity.id }}"><span#}
                                        {#                                                    class="fas fa-times-circle"></span></a>#}
                                        {#                                        </td>#}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        {% if activities|default %}
                            {% for activity in activities %}
                                <div class="modal fade" id="{{ activity.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="modal-default" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title">Edit {{ activity.id }}</h6>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>With less than a month to go before the European Union enacts new
                                                    consumer privacy laws for its citizens, companies around the
                                                    world
                                                    are updating their terms of service agreements to comply.</p>
                                                <p>The European Union's General Data Protection Regulation
                                                    (G.D.P.R.)
                                                    goes into effect on May 25 and is meant to ensure a common set
                                                    of
                                                    data rights in the European Union. It requires organizations to
                                                    notify users as
                                                    soon as possible of high-risk data breaches that could
                                                    personally
                                                    affect them.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-secondary">I Got It
                                                </button>
                                                <button type="button" class="btn btn-link text-danger ml-auto"
                                                        data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <p class="mb-0">There are currently no participants on this tutorial</p>
                {% endif %}
            </div>
            <!-- right collum -->
            <div class="col-12 col-xl-4">
                <div class="row">







                    </div>
                </div>

{% endblock %}
