{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <section class="row">
            <div class="col-xs-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content">
                    <header class="content__header">
                        <h1 class="content__header-title">{{ 'Proto Applicatie NL Design'|trans|capitalize }}</h1>
                        <p class="content__header-paragraph">{{ 'welcome to the proto application NL design, this application offers a thin implementation of Symfony for running NL Design System on a commonground Haven environment.'|trans|capitalize }}</p>
                    </header>
                </div>
            </div>
        </section>

        <article>
            <div class="row">
                <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                    <div class="content-background">

                        <div class="content">
                            <h2 id="inloggen-verzuimloket">{{ 'why do I see this page?'|trans|capitalize }}</h2>
                            <p>{{ 'congratulations! Your installation was successful!'|trans|capitalize }}</p>
                            <p>{{ 'however, a few additional details are required for the application to function properly'|trans|capitalize }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
