{% extends "dashboard/base.html.twig" %}

{% block content %}
    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active">{{ 'likes'|trans|capitalize }}</li>
                </ol>
            </nav>
            <h2 class="h4">{{ 'Likes'|trans|capitalize }}</h2>
            <p class="mb-0">{{ 'Here you can find everything you liked.'|trans|capitalize}}</p>
        </div>
    </div>

    <div class="row">
        {% if internships|default %}
            <div class="col-12 col-xl-8">
                <div class="row">
                    <div class="col-12 mb-4">
                        {% include 'dashboard/tables/internships.html.twig' with {'backUrl': 'app_dashboarduser_likes'} %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 col-xl-8">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h2 class="h5">{{ 'internships'|trans|capitalize }}</h2></div>
                                    <div class="col text-right">
                                        <a href="{{ path('app_internship_index') }}" class="btn btn-sm btn-secondary">{{ 'see all internships'|trans|capitalize }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                {{ 'you have not liked any internships yet'|trans|capitalize }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-12 col-xl-4 mb-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <h2 class="h5">{{ 'likes'|trans|capitalize }}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo quis sem a malesuada. Ut egestas malesuada velit quis laoreet. Cras ut ante ac nisl ullamcorper ullamcorper non nec nibh. Curabitur blandit pellentesque nibh nec tempus. Duis a rhoncus ligula. Etiam fermentum mollis arcu fermentum molestie. Pellentesque vitae sem nec justo tempus elementum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
