{% extends "dashboard/base.html.twig" %}

{% block content %}
    <div class="container">
        {% if cluster is defined and cluster is not null %}
        <form
            method="post"
            action="{% if item.id|default %}{{ path(path, {cluster: cluster.id, id: item.id}) }}{% else %}{{ path(path, {cluster: cluster.id, id: 'new'}) }}{% endif %}">
            {% else %}
            <form
            method="post"
            action="{% if item.id|default %}{{ path(path, {id: item.id}) }}{% else %}{{ path(path, {id: 'new'}) }}{% endif %}">
{% endif %}

            <div class="page-inner">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="d-inline-block">{{ item.name|capitalize }}</h1>
                                <button class="d-inline-block float-right btn btn-success"
                                        type="submit">{{ 'save'|trans|capitalize }}</button>

                                <div class="row">
                                    <div class="form-group col-12">
                                        <label for="nameInput">{{ 'name'|trans|capitalize }} *</label>
                                        <input class="form-control" name="name" id="nameInput"
                                               {% if item.name|default and item.name != "New" %}value="{{ item.name|capitalize }}"{% endif %} required>
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="descInput">{{ 'description'|trans|capitalize }}</label>
                                        <textarea class="form-control" name="description"
                                                  id="descInput">{% if item.description|default %}{{ item.description|capitalize }}{% endif %}</textarea>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="cocInput">{{ 'chamber of commerce'|trans|capitalize }}</label>
                                        <input class="form-control" id="cocInput" type="number" name="chamberOfComerce" {% if item.chamberOfComerce|default %}value="{{ item.chamberOfComerce }}"{% endif %}>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="rsinInput">{{ 'social service number (rsin)'|trans|capitalize }}</label>
                                        <input class="form-control" id="rsinInput" type="number" name="rsin" {% if item.rsin|default %}value="{{ item.rsin }}"{% endif %}>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
