{% extends "dashboard/base.html.twig" %}

{% block content %}

    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span
                                class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active">{{ 'organizations'|trans|capitalize }}</li>
                </ol>
                <h2 class="h4">{{ 'Choose your organization'|trans|capitalize }}</h2>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="h5">{{ 'organizations'|trans|capitalize }}</h2></div>
                                <div class="col text-right">
                                    {% if addPath is  defined %}
                                        <a href="{{ path(addPath, {'id':'new' }) }}" class="btn btn-primary">{{ 'add organization'|trans|capitalize }}</a>
                                    {% else %}
                                        <a href="{{ path('app_organization_index') }}" class="btn btn-sm btn-secondary">{{ 'see all organizations'|trans|capitalize }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <form method="post" action="{{ path(path) }}">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">{{ 'name'|trans|capitalize }}</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if items|default %}
                                        {% for item in items %}
                                            <tr>
                                                <td>{{ item.name }}</td>
                                                <td></td>
                                                <td class="text-right">
                                                    {% if organization['name'] != item['name'] %}
                                                        <button class="btn btn btn-primary" name="organization"
                                                                value="{{ item['@id'] }}"
                                                                type="submit">{{ 'inloggen met deze organisatie'|trans|capitalize }}</button>
                                                    {% endif %}
                                                </td>
                                                <td class="text-right">
                                                    <a href="{{ path(pathToSingular,{'id': item.id}) }}"
                                                       class="btn btn btn-primary">{{ 'view'|trans|capitalize }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% elseif organization|default %}
                                        <tr>
                                            <td></td>
                                            <td>{{ organization.name }}</td>
                                            <td>
                                                <a href="{{ path(pathToSingular,{'id': organization.id}) }}"
                                                   class="btn btn btn-primary">{{ 'view'|trans|capitalize }}</a>
                                            </td>
                                            <td>
                                                {% if organization['name'] != organization['name'] %}
                                                    <button class="btn btn btn-primary" name="organization"
                                                            value="{{ organization['@id'] }}"
                                                            type="submit">{{ 'inloggen met deze organisatie'|trans|capitalize }}</button>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ '#edit'~organization.id~'Modal' }}"
                                                   data-toggle="modal"
                                                   data-target="{{ '#edit'~organization.id~'Modal' }}"><i
                                                        class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>
                                                {{ 'no results have been found'|trans|capitalize }}
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-around" style="margin-bottom: 20px;">

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mapcontainer">
                            <div id="map-example" class="vmap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4 mb-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <h2 class="h5">{{ 'organizations'|trans|capitalize }}</h2>
                        <p>[[tekst over organizaties]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {#  Modal for new object #}
        {% include 'dashboard_user/modals/edit_object.html.twig' with {
            'path': pathToSingular,
            'type': type,
        } %}

        {% set counter = 0 %}
        {#  Modals editing existing objects  #}
        {% if items|default %}
            {% for item in items %}
                {% include 'dashboard_user/modals/edit_object.html.twig' with {
                    'path': pathToSingular,
                    'item': item,
                    'type': type
                } %}
            {% endfor %}
        {% elseif organization|default %}
            {% include 'dashboard_user/modals/edit_object.html.twig' with {
                'path': pathToSingular,
                'item': organization,
                'type': type
            } %}
        {% endif %}

{% endblock %}
