{% extends "dashboard/base.html.twig" %}

{% block content %}
<!-- breadcrumbs -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span
                            class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a
                        href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                <li class="breadcrumb-item"><a
                        href="{{ path('app_dashboarduser_organizations') }}">{{ 'organizations'|trans|capitalize }}</a>
                </li>
                <li class="breadcrumb-item active">{{ 'organization'|trans|capitalize }}</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        {% if account is defined %}
            {% include 'dashboard_user/widgets/balance.html.twig' %}
        {% endif %}
    </div>
</div>
<div class="row">
    <!-- left collum -->
    <div class="col-12 col-xl-8">
        <div class="card card-body bg-white border-light shadow-sm mb-4">
            {% if cluster is defined and cluster is not null %}
            <form
                method="post"
                action="{% if item.id|default %}{{ path(path, {cluster: cluster.id, id: item.id}) }}{% else %}{{ path(path, {cluster: cluster.id, id: 'new'}) }}{% endif %}">
                {% else %}
                <form
                    method="post"
                    action="{% if item.id|default %}{{ path(path, {id: item.id}) }}{% else %}{{ path(path, {id: 'new'}) }}{% endif %}">
                    {% endif %}

                    <div class="page-inner">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <h1 class="d-inline-block">{{ item.name|capitalize }}</h1>
                                        <button class="d-inline-block float-right btn btn-primary"
                                                type="submit">{{ 'save'|trans|capitalize }}</button>

                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <label for="nameInput">{{ 'name'|trans|capitalize }} *</label>
                                                    <input class="form-control" name="name" id="nameInput"
                                                           {% if item.name|default and item.name != "New" %}value="{{ item.name|capitalize }}"{% endif %}
                                                           required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <label
                                                        for="descInput">{{ 'description'|trans|capitalize }}</label>
                                                    <textarea class="form-control" name="description"
                                                              id="descInput">{% if item.description|default %}{{ item.description|capitalize }}{% endif %}</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label
                                                        for="cocInput">{{ 'chamber of commerce'|trans|capitalize }}</label>
                                                    <input class="form-control" id="cocInput" type="number"
                                                           name="chamberOfComerce"
                                                           {% if item.chamberOfComerce|default %}value="{{ item.chamberOfComerce }}"{% endif %}>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label
                                                        for="rsinInput">{{ 'social service number (rsin)'|trans|capitalize }}</label>
                                                    <input class="form-control" id="rsinInput" type="number"
                                                           name="rsin"
                                                           {% if item.rsin|default %}value="{{ item.rsin }}"{% endif %}>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label
                                                        for="postalCode">{{ 'administration contact'|trans|capitalize }}</label>
                                                    <select class="form-control" name="administrationContact"
                                                            id="administrationContact">
                                                        {% if users is defined %}
                                                        {% for user in users %}
                                                        {% set userUrl = commonground_cleanurl({'component': 'uc', 'type': 'users', 'id': user.id}) %}
                                                        <option {% if organization.administrationContact is defined and organization.administrationContact == userUrl %}
                                                            selected {% endif %} value="{{ user['id'] }}">{{ commonground_resource(user.person).name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="postalCode">{{ 'privacy contact'|trans|capitalize }}</label>
                                                        <select class="form-control" name="privacyContact" id="privacyContact">
                                                            {% if users is defined %}
                                                            {% for user in users %}
                                                                {% set userUrl = commonground_cleanurl({'component': 'uc', 'type': 'users', 'id': user.id}) %}
                                                                <option {% if organization.privacyContact is defined and organization.privacyContact == userUrl %} selected {% endif %} value="{{ user['id'] }}">{{ commonground_resource(user.person).name }}</option>
                                                            {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="postalCode">{{ 'technical contact'|trans|capitalize }}</label>
                                                        <select class="form-control" name="technicalContact" id="technicalContact">
                                                            {% if users is defined %}
                                                            {% for user in users %}
                                                                {% set userUrl = commonground_cleanurl({'component': 'uc', 'type': 'users', 'id': user.id}) %}
                                                                <option {% if organization.technicalContact is defined and organization.technicalContact == userUrl %} selected {% endif %} value="{{ user['id'] }}">{{ commonground_resource(user.person).name }}</option>
                                                            {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </form>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}
