{% extends "dashboard/base.html.twig" %}

{% block content %}

    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span
                                class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboard_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active"><a
                            href="{{ path('app_dashboarduser_settings') }}">{{ 'settings'|trans|capitalize }}</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- Form -->
    <form action="{{ path('app_dashboarduser_settings') }}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">{{ 'about me'|trans|capitalize }}</h2>

                    {% if app.user|default %}
                        <div class="row">
                            <div class="col-12 col-md-12 mb-3">

                                <!-- Name -->
                                <div class="form-group">
                                    <label for="name">{{ 'name'|trans|capitalize }} <span style="color: red; font-weight: bold">*</span></label>
                                    <input required class="form-control" name="name" id="name" type="text" placeholder="{{ 'full name'|trans|capitalize }}"
                                           {% if person.name|default %}
                                           value="{{ person.name }}"
                                           {% endif %}>
                                </div>

                            </div>
                        </div>

                        <h2 class="h5">{{ 'address'|trans|capitalize }}</h2>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- Street -->
                                <div class="form-group">
                                    <label for="street">{{ 'street'|trans|capitalize }}</label>
                                    <input class="form-control" name="street" id="street" type="text" placeholder="{{ 'street'|trans|capitalize }}"
                                        {% if person.adresses[0].street|default %}
                                        value="{{ person.adresses[0].street }}"
                                        {% endif %}>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <!-- House number -->
                                <div class="form-group">
                                    <label for="houseNumber">{{ 'house number'|trans|capitalize }}</label>
                                    <input class="form-control" name="houseNumber" id="houseNumber" type="text" placeholder="{{ 'house number'|trans|capitalize }}"
                                        {% if person.adresses[0].houseNumber|default %}
                                        value="{{ person.adresses[0].houseNumber }}"
                                        {% endif %}>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <!-- House number suffix -->
                                <div class="form-group">
                                    <label for="email">{{ 'suffix'|trans|capitalize }}</label>
                                    <input class="form-control" name="houseNumberSuffix" id="houseNumberSuffix" type="text" placeholder="{{ 'suffix'|trans|capitalize }}"
                                        {% if person.adresses[0].houseNumberSuffix|default %}
                                        value="{{ person.adresses[0].houseNumberSuffix }}"
                                        {% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">

                                <!-- Postal code -->
                                <div class="form-group">
                                    <label for="postalCode">{{ 'postal code'|trans|capitalize }}</label>
                                    <input class="form-control" name="postalCode" id="postalCode" type="text" placeholder="{{ 'postal code'|trans|capitalize }}"
                                        {% if person.adresses[0].postalCode|default %}
                                        value="{{ person.adresses[0].postalCode }}"
                                        {% endif %}>
                                </div>

                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <!-- Locality -->
                                <div class="form-group">
                                    <label for="locality">{{ 'locality'|trans|capitalize }}</label>
                                    <input class="form-control" name="locality" id="locality" type="text" placeholder="{{ 'locality'|trans|capitalize }}"
                                        {% if person.adresses[0].locality|default %}
                                        value="{{ person.adresses[0].locality }}"
                                        {% endif %}>
                                </div>
                            </div>
                        </div>

                        <h2 class="h5">{{ 'contact'|trans|capitalize }}</h2>

                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">

                                <!-- Email -->
                                <div class="form-group">
                                    <label for="email">{{ 'email'|trans|capitalize }} <span style="color: red; font-weight: bold">*</span></label>
                                    <input required class="form-control" name="email" id="email" type="email" placeholder="{{ 'name@provider.com'|trans }}"
                                        {% if person.emails|default and person.emails|length > 0 %}
                                        value="{{ person.emails[0].email }}"
                                        {% endif %}>
                                </div>

                            </div>
                            <div class="col-12 col-md-6 mb-3">

                                <!-- Telephone -->
                                <div class="form-group">
                                    <label for="telephone">{{ 'telephone number'|trans|capitalize }}</label>
                                    <input class="form-control" name="telephone" id="telephone" type="tel" placeholder="0612345678"
                                        {% if person.telephones|default and person.telephones|length > 0 %}
                                        value="{{ person.telephones[0].telephone }}"
                                        {% endif %}>
                                </div>

                            </div>
                        </div>

                        <h2 class="h5">{{ 'socials'|trans|capitalize }}</h2>

                        <div class="row">
                            <div class="col-md-6 mb-0">
                                <div class="form-group">
                                    <label for="facebook">{{ 'facebook'|trans|capitalize }}</label>
                                    <input class="form-control" id="facebook" name="facebook" type="text"
                                        {% if person.socials.0.facebook|default %}
                                            value="{{ person.socials.0.facebook }}"
                                        {% endif %}
                                    >
                                </div>
                            </div>
                            <div class="col-md-6 mb-0">
                                <div class="form-group">
                                    <label for="twitter">{{ 'twitter'|trans|capitalize }}</label>
                                    <input class="form-control" id="twitter" name="twitter" type="text"
                                        {% if person.socials.0.twitter|default %}
                                            value="{{ person.socials.0.twitter }}"
                                        {% endif %}
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="linkedin">{{ 'linkedin'|trans|capitalize }}</label>
                                    <input class="form-control" id="linkedin" name="linkedin" type="text"
                                        {% if person.socials.0.linkedin|default %}
                                            value="{{ person.socials.0.linkedin }}"
                                        {% endif %}
                                    >
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="instagram">{{ 'instagram'|trans|capitalize }}</label>
                                    <input class="form-control" id="instagram" name="instagram" type="text"
                                        {% if person.socials.0.instagram|default %}
                                            value="{{ person.socials.0.instagram }}"
                                        {% endif %}
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-auto">

                                <!-- Button -->
                                <button class="btn btn-block btn-primary" name="updateInfo" value="true" type="submit">
                                    {{ 'save changes'|trans|capitalize }}
                                </button>

                            </div>
                        </div>
                    {% else %}
                        <h4 class="mb-0">
                            {{ 'login required'|trans|capitalize }}
                        </h4>
                        <p>
                            {{ 'you need to login before you can view this page'|trans|capitalize }}<br>
                            {{ 'click'|trans|capitalize }} <a href="{{ path('app_user_idvault') }}">{{ 'here'|trans }}</a> {{ 'to login'|trans }}
                        </p>
                    {% endif %}
                </div>
            </div>

            {% if app.user|default %}
                <div class="col-12 col-xl-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-xl-12">
                            <div class="card card-body bg-white border-light shadow-sm mb-4">
                                <h2 class="h5 mb-4">{{ 'Select profile photo'|trans|capitalize }}</h2>
                                <div class="d-xl-flex align-items-center">
                                    <div>
                                        <!-- Avatar -->
                                        <div class="user-avatar xl-avatar mb-3">
                                            <img class="rounded" src="/bundles/rocket/assets/img/team/profile-picture-3.jpg"
                                                 alt="change avatar">
                                        </div>
                                    </div>
                                    <div class="file-field">
                                        <div class="d-flex justify-content-xl-center ml-xl-3">
                                            <div class="d-flex">
                                                <span class="icon icon-md"><span class="fas fa-paperclip mr-3"></span></span>
                                               <input type="file" name="personalPhoto">
                                                <div class="d-md-block text-left">
                                                    <div class="font-weight-normal text-dark mb-1">{{ 'Choose Image'|trans|capitalize }}</div>
                                                    <div class="text-gray small">{{ 'JPG, GIF or PNG. Max size of 800K'|trans|capitalize }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6 col-xl-12">
                            <div class="card card-body bg-white border-light shadow-sm mb-4">
                                <h2 class="h5 mb-4">{{ 'About you Profile text'|trans }}</h2>
                                <div class="form-group">
                                    <textarea class="form-control" id="aboutMe" name="aboutMe"
                                              placeholder="{{'a text that you want to show on your profile'|trans|capitalize }}"
                                              rows="9" cols="6"
                                              style="max-height: 34rem; min-height: 8rem"
                                    >{% if person.aboutMe|default %}{{ person.aboutMe }}{% endif %}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
