{% extends "dashboard/base.html.twig" %}

{% block content %}

    {% if tutorial.organization|default and 'http' in tutorial.organization %}
        {% set organization = commonground_resource(tutorial.organization) %}
    {% endif %}

    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span
                                class="fas fa-home"></span></a>
                    </li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboarduser_index') }}">{{ 'dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboarduser_tutorials') }}">{{ 'tutorials'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ tutorial.name|capitalize }}</li>
                </ol>
            </nav>
            <h2 class="h4">{{ tutorial.name|capitalize~' '~'from'|trans }} <a target="_blank"
                                                                              href="{{ path('app_organization_organization', {id: organization.id}) }}">{{ organization.name|capitalize }}</a>
            </h2>
            <p class="mb-0">{{ tutorial.description|capitalize }}</p>

            <p>Bekijk hier de <a target="_blank" href="{{ path('app_education_tutorial', {id: tutorial.id}) }}">aanmeldpagina</a>.</p>
        </div>
    </div>

    <div class="row">
        {% if tutorial.video is defined and tutorial.video is not empty %}
            <div class="col-12 mb-3">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="h5">{{ 'video'|trans|capitalize }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-left">
                        <iframe width="420" height="315"
                                src="{{ tutorial.video }}">
                        </iframe>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- left collum -->
        {#    <div class="col-12 col-xl-8">#}
        {#        <div class="card border-light shadow-sm">#}
        {#            <div class="card-body">#}
        {#                <h2 class="h5">{{ 'content'|trans|capitalize }}</h2>#}
        {#                <p>{{ tutorial.content }}</p>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div>#}
        <!-- right collum -->
        {% if tutorial.activities|default %}
            <div class="col-12 mb-3">
                {% include 'dashboard/tables/activities.html.twig' with {
                    'activities': tutorial.activities,
                    'dontShowAllButton': 'true',
                    'organization': organization.name
                } %}
            </div>
        {% endif %}

        {% if results|default and results|length > 0 %}
            <div class="col-12 mb-3">
                {% include 'dashboard/tables/results.html.twig' with {
                    'results': results,
                    'dontShowAllButton': 'true',
                    'organization': organization.name
                } %}
            </div>
        {% endif %}

        {% if tutorial.programs|default %}
            <div class="col-12 mb-3">
                {% include 'dashboard/tables/programs.html.twig' with {
                    'programs': tutorial.programs,
                    'dontShowAllButton': 'true',
                    'organization': organization.name
                } %}
            </div>
        {% endif %}
    </div>
{% endblock %}
