{% extends "dashboard/base.html.twig" %}

{% block content %}    <!-- breadcrumbs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_dashboarduser_index') }}">{{ 'Dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_dashboarduser_tutorials') }}">{{ 'Tutorials'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ tutorial.name|capitalize }}</li>
                </ol>
            </nav>
            <h2 class="h4">{{ tutorial.name|capitalize }}</h2>
            <p class="mb-0">{{ tutorial.description|capitalize }}</p>
        </div>
    </div>

<div class="row">
    <!-- left collum -->
{#    <div class="col-12 col-xl-8">#}
{#        <div class="card border-light shadow-sm">#}
{#            <div class="card-body">#}
{#                <h2 class="h5">{{ 'content'|trans|capitalize }}</h2>#}
{#                <p>{{ tutorial.content }}</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- right collum -->
    <div class="col-12 col-xl-4">
        {% include 'dashboard/tables/activities.html.twig'%}

        {% include 'dashboard/tables/results.html.twig'%}
    </div>
</div>
{% endblock %}
