{% extends "base.html.twig" %}

{% block content %}
    <section class="section-header bg-primary pb-7 pb-lg-10 text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <h1 class="mb-3">{{ 'teams make the world go around'|trans|capitalize }}</h1>
                    <p class="lead px-lg-5 mb-5">{{ 'either join an exsisting team or start your own to tackle the worlds problems'|trans|capitalize }}
                        .</p>
                    <form action="{{ path('app_team_index', query) }}">
                        <div class="form-group bg-white shadow-soft rounded-pill mb-4 px-3 py-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="input-group input-group-merge shadow-none">
                                        <div class="input-group-prepend"><span
                                                class="input-group-text bg-transparent border-0"><i
                                                    class="fas fa-search"></i></span></div>
                                        <input name="search" id="search" type="text"
                                               class="form-control border-0 form-control-flush shadow-none pb-2"
                                               placeholder="{{ 'search for internschips'|trans|capitalize }}..."
                                               required=""
                                               {% if query.search is defined and query.search is not empty %}value="{{ query.search }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit"
                                            class="btn btn-block btn-primary rounded-pill">{{ 'search'|trans|capitalize }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-md pb-0">
        <div class="container z-2 mt-n9 mt-lg-n11">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0"></div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <a href="./support-topic.html" class="card text-center shadow-soft border-light animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4"><span
                                    class="fas fa-eye"></span></div>
                            <h6 class="text-gray mb-0">Looking</h6></div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <a href="./support-topic.html" class="card text-center shadow-soft border-light animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4"><span
                                    class="fas fa-users-class"></span></div>
                            <h6 class="text-gray mb-0">Pitchers</h6></div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3"></div>
            </div>
        </div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 text-center">
                    <h2 class="h1 mb-3">{{ 'teams'|trans|capitalize }}</h2>
                    <p class="lead px-5 px-lg-7">{{ 'teams are groups of students that tackle challenges as a team.'|trans|capitalize }}</p>
                </div>
            </div>
            <div class="row">
                {% for team in teams %}
                    {% if team.type is defined and team.type is not empty and (team.type == 'Leerjaar' or team.type == 'Klas' or team.type == 'Studiegroep') %}
                        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                            <div class="card bg-white border-light shadow-soft p-4 rounded">
                                <a href="{{ path('app_team_team', {id: team.id}) }}"><img
                                        src="/bundles/rocket/assets/img/blog/image-2.jpg" class="card-img-top fmxh-300"
                                        alt=""></a>
                                <div class="card-body p-0 pt-4"><a href="{{ path('app_team_team', {id: team.id}) }}"
                                                                   class="h3">{{ team.name|trans|capitalize }}</a>
                                    <p class="mb-0">{{ team.description|trans|capitalize }}</p>
                                    <div class="d-flex">
                                        {% if team.persons is defined and team.persons is not empty %}
                                            {% for person in team.persons %}
                                                <span class="ml-4"><i class="fas fa-user-tie text-secondary"></i><span
                                                        class="h6 text-sm ml-2">{{ person|length }}</span></span>
                                            {% endfor %}
                                        {% else %}
                                            <span class="ml-4"><i class="fas fa-user-tie text-secondary"></i><span
                                                    class="h6 text-sm ml-2">0</span></span>
                                        {% endif %}
                                        <span class="ml-4"><i class="fas fa-bullseye-arrow text-primary"></i><span
                                                class="h6 text-sm ml-2">[challanges]{# the amount of challanges that this team is participating in #}</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% if app.user.person is defined and app.user.person is not empty %}
        {% set person = commonground_resource(app.user.person) %}
        <section class="section section-lg pb-5 bg-soft">
            <div class="container">
                <div class="row justify-content-center mb-4 mb-lg-5">
                    <div class="col">
                        <h2 class="h2">[teams waarvan je lid bent]</h2></div>
                </div>
                <div class="row">
                    {% for team in teams %}
                    {% if person == team.person %}
                        <div class="col-12 col-xl-4 mb-4">
                            <div class="card bg-white border-light shadow-soft p-3">
                                <div class="card-header p-4">
                                    <h3 class="mb-3 h4">[name]</h3>
                                    <div class="d-flex small"><a
                                            href="{{ path('app_internship_position', {id: 'test'}) }}"
                                            class="text-gray">
                                            <span class="icon-primary"><i class="fas fa-map-marker-alt"></i></span>
                                            <span class="ml-2">[location]</span></a>
                                        <span class="icon-primary ml-4"><i class="fas fa-user-tie"></i><span
                                                class="ml-2 text-gray">[type]</span></span>
                                    </div>
                                </div>
                                <div class="card-body px-4 pt-0">
                                    <p class="mb-4">[summery]</p>
                                    <div class="d-flex"><a
                                            href="{{ path('app_internship_position', {id: 'test'}) }}#apply"
                                            class="btn btn-sm btn-secondary mr-3 animate-up-2 px-3">Apply Now</a> <a
                                            href="./career-single.html"
                                            class="btn btn-sm btn-primary animate-up-2 px-3"><i
                                                class="fas fa-clipboard-list mr-2"></i>See Details</a></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="section section-lg pb-5 bg-soft">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <h2 class="mb-4">1 + 1 = 3</h2>
                    <p class="lead mb-5">Working <span class="font-weight-bolder">together</span> doesn't just make's us
                        stronger it makes us <span class="font-weight-bolder">human</span>.</p>
                    <p>Starting your own teams allows jou to attract teammates and tackle challenges together, there is
                        no set definition of who should be in a team so you could either be a group of students of the
                        same study or a multidisciplinary team consisting of different study's. Or you could just be a
                        group of friend.</p>
                    <p>The choice is all yours.</p>
                </div>
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-secondary animate-up-2" data-toggle="modal"
                            data-target=".pricing-modal"><span class="mr-2"><i class="fas fa-rocket"></i></span>Start a
                        team
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
