{% extends "base.html.twig" %}

{% block content %}
    <section class="section-header bg-primary pb-7 pb-lg-10 text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <h1 class="mb-3">{{ 'teams make the world go around'|trans|capitalize }}</h1>
                    <p class="lead px-lg-5 mb-5">{{ 'either join an exsisting team or start your own to tackle the worlds problems.'|trans|capitalize }}
                    </p>
                    <form action="{{ path('app_team_index', query) }}">
                        <div class="form-group bg-white shadow-soft rounded-pill mb-4 px-3 py-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="input-group input-group-merge shadow-none">
                                        <div class="input-group-prepend"><span
                                                class="input-group-text bg-transparent border-0"><i
                                                    class="fas fa-search"></i></span></div>
                                        <input name="search" id="search" type="text"
                                               class="form-control border-0 form-control-flush shadow-none pb-2"
                                               placeholder="{{ 'search for teams'|trans|capitalize }}..."
                                               required=""
                                               {% if query.search is defined and query.search is not empty %}value="{{ query.search }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit"
                                            class="btn btn-block btn-primary rounded-pill">{{ 'search'|trans|capitalize }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-md pb-0">
        <div class="container z-2 mt-n9 mt-lg-n11">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0"></div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <a href="#" class="card text-center shadow-soft border-light animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4"><span
                                    class="fas fa-eye"></span></div>
                            <h6 class="text-gray mb-0">{{ 'find students'|trans|capitalize }}</h6></div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <a href="#" class="card text-center shadow-soft border-light animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4"><span
                                    class="fas fa-users-class"></span></div>
                            <h6 class="text-gray mb-0">{{ 'find a team'|trans|capitalize }}</h6></div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3"></div>
            </div>
        </div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 text-center">
                    <h2 class="h1 mb-3">{{ 'teams'|trans|capitalize }}</h2>
                    <p class="lead px-5 px-lg-7">{{ 'teams are groups of students that tackle challenges as a team.'|trans|capitalize }}</p>
                </div>
            </div>
            <div class="row">
                {% for team in teams %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                        <div class="card bg-white border-light shadow-soft p-4 rounded">
                            <a href="{{ path('app_team_team', {id: team.id}) }}"><img
                                    src="/bundles/rocket/assets/img/blog/image-2.jpg" class="card-img-top fmxh-300"
                                    alt=""></a>
                            <div class="card-body p-0 pt-4"><a href="{{ path('app_team_team', {id: team.id}) }}"
                                                               class="h3">{{ team.name|trans|capitalize }}</a>
                                <p class="mb-0">{{ team.description|trans|capitalize }}</p>
                                <div class="d-flex">
                                    {% if team.participants|default %}
                                        <span class="ml-4"><i class="fas fa-user-tie text-secondary"></i><span
                                                class="h6 text-sm ml-2">{{ team.participants|length }}</span></span>
                                    {% else %}
                                        <span class="ml-4"><i class="fas fa-user-tie text-secondary"></i><span
                                                class="h6 text-sm ml-2">0</span></span>
                                    {% endif %}

                                    <span class="ml-4"><i class="fas fa-bullseye-arrow text-primary"></i><span
                                            class="h6 text-sm ml-2">{{ commonground_resource_list({'component': 'chrc', 'type': 'entries'},{'submitter': team['@id']})['hydra:totalItems'] }}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section section-lg pb-5 bg-soft">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <h1 class="mb-4">{{ 'create your own team'|trans }}</h1>
                    <p class="lead mb-5">{{ 'by starting your own team, you can attract teammates and take on challenges / challenges together.'|trans|capitalize }}
                        {{ 'there is no set definition of who should be on a team, so you could be a group of students from the same study or a multidisciplinary team of students from different studies.'|trans|capitalize }}</span></p>
                    <p>{{ 'the choice is yours!'|trans|capitalize }}</p>
                    <button type="button" class="btn btn-secondary animate-up-2" data-toggle="modal" data-target=".pricing-modal">
                        <a href="{{ path('app_user_idvault') }}" style="color: white"><span class="mr-2"><i class="fas fa-hand-pointer"></i>
                            </span>{{ 'create a team'|trans|capitalize }}</a></button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
