{% extends "base.html.twig" %}

{% block content %}
    <section class="section-header pb-10 pb-lg-11 mb-4 mb-lg-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-4 ">
                    <h1 class="display-2 font-weight-extreme mb-4">{{ team.name|trans|capitalize }}</h1>
                    {% if team.description|default %}
                        <p class="lead">{{ team.description }}</p>
                    {% endif %}
                    <div class="d-flex flex-column flex-lg-row justify-content-center">

                        {% if team.participants|default %}
                            <span class="ml-4"><i class="fas fa-users text-white"></i><span
                                    class="h6 text-sm ml-2">{{ team.participants|length }}</span></span>
                        {% else %}
                            <span class="ml-4"><i class="fas fa-users text-white"></i><span
                                    class="h6 text-sm ml-2">0</span></span>
                        {% endif %}
                        {#                        /* @todo hier moeten het aantal challenges komen waar een team aan mee doet#}
                        {% if numberOfEntries|default and numberOfEntries != 0 %}
                            <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i
                                    class="fas fa-users text-primary"></i>
                                class="ml-3">{{ numberOfEntries }}</span>
                        {% endif %}
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5">{{ team.description }}</span>
                    </div>
                </div>
                <div class="col col-12 text-center"><a href="{{ path('app_team_index') }}"
                                                       class="btn btn-secondary text-white animate-up-2 mr-3"><i
                            class="fas fa-arrow-left mr-2"></i>{{ 'See All Teams'|trans|capitalize }}</a>
                    {% if app.user|default %}
                        <a href="#apply" class="btn btn-white text-primary animate-up-2"><i
                                class="fas fa-clipboard-list mr-2"></i>{{ 'apply now'|trans|capitalize }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>

    {% if courses|default %}
        {#                                            {{ dump(courses) }}#}
        <div class="m-3 text-center">
            <h2 class="h1 mb-5">{{ 'this team participates in these tutorials'|trans|capitalize }}</h2>
        </div>

        <div class="row">
            {% for course in courses %}
                <div class="col-md-6 col-lg-4">
                    <div class="profile-card mb-5">
                        <div class="card shadow-soft border-light text-center">
                            <div class="card-body">
                                {% if course.name|default %}
                                    <span
                                        class="card__title"><h4>{{ course.name }}</h4></span>
                                {% endif %}
                                <ul class="social-buttons pt-3">
                                    <li>
                                        <a class="btn btn-primary"
                                           href="{{ path('app_education_tutorial', {id: course.id}) }}">{{ 'view'|trans|capitalize }}</a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

        <div class="container" id="apply">
            <div class="row justify-content-center pb-5">
                <div class="col">
                    <div class="card bg-soft shadow-soft border-light p-4 p-md-5">
                        <div class="mb-1 text-center">
                            <h2 class="h1">{{ 'apply for this team'|trans|capitalize }}</h2>
                        </div>

                        {% if userIsInTeam is defined and userIsInTeam %}
                            <p class="mt-4 text-center">{{ 'you have already applied for this team'|trans|capitalize }}</p>
                            <a class="mt-2 text-center btn btn-secondary"
                               href="{{ path('app_dashboarduser_team', {id: team.id}) }}">
                                {{ 'click here to participate'|trans|capitalize }}
                            </a>
                        {% elseif app.user is defined and app.user is not null %}
                            <form action="{{ path('app_team_team', {id: team.id}) }}" method="post">
                                <div class="row">
                                    <div class="col col-12 mt-4">
                                        <div class="form-group">
                                            <label class="form-label text-muted"
                                                   for="motivation">{{ 'motivation'|trans|capitalize }} <span
                                                    class="text-danger">*</span></label>
                                            <textarea class="form-control"
                                                      placeholder="{{ 'motivate your application'|trans|capitalize }}"
                                                      id="motivation" name="motivation" rows="8" required=""></textarea>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-secondary mt-4"><span
                                                        class="mr-2"><i
                                                            class="fas fa-paper-plane"></i></span>{{ 'submit'|trans|capitalize }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <p class="mt-4 text-center">{{ 'you need to be logged in to join a team'|trans|capitalize }}</p>
                            <a class="mt-2 text-center btn btn-secondary"
                               href="{{ path('app_user_idvault') }}">{{ 'click here to log in'|trans|capitalize }} </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
