<div class="card border-light shadow-sm">
    <div class="card-body">
        <h2 class="h5">{{ 'positions'|trans|capitalize }}</h2>
        {% if positions is  defined and positions|length > 0 %}
            {% for position in positions|slice(0, 10) %}
        <div class="d-block">
            <div class="d-flex align-items-center pt-3 mr-5">
                <div class="icon icon-shape icon-sm icon-shape-primary rounded mr-3"><span class="fas fa-briefcase"></span></div>
                <div class="d-block">
                    <label class="mb-0">[[ position.organisation ]]</label>
                    <h4 class="mb-0">{{ position.name }}</h4></div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <div class="card-body text-center">
                <p>{{ 'you havn\'t yet aquired a position'|trans|capitalize }}</p>
                <a href="{{ path('app_internship_index') }}" class="btn btn-primary">{{ 'find a position'|trans|capitalize }}</a>
            </div>
        {% endif %}
    </div>
</div>
