<div class="card border-light shadow-sm">
    <div class="card-body">
        <h2 class="h5">{{ 'teams'|trans|capitalize }}</h2>
        {% if teams is  defined and teams|length > 0 %}
            {% for team in teams|slice(0, 10) %}
        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
            <div>
                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-users"></span></span>{{ team.name }}</h6>
                <div class="small card-stats">{{ team.description }}<span class="icon icon-xs text-success ml-2"><span class="fas fa-angle-up"></span></span>
                </div>
            </div>
            <div><a href="#" class="text-primary font-weight-bold">#32<span class="fas fa-chart-line ml-2"></span></a></div>
        </div>

            {% endfor %}
        {% else %}
            <div class="card-body text-center">
                <p>{{ 'you havn\'t yet joined any teams'|trans|capitalize }}</p>
                <a href="{{ path('app_team_index') }}" class="btn btn-primary">{{ 'find a team'|trans|capitalize }}</a>
            </div>
        {% endif %}
    </div>
</div>
