{% extends "base.html.twig" %}

{% block content %}

    <section class="section-header pb-10 pb-lg-11 mb-4 mb-lg-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-4 mb-lg-5">
                    <h1 class="display-2 font-weight-extreme mb-4">{{ internship.title }}</h1>
                    <div class="d-flex flex-column flex-lg-row justify-content-center">
                        <span class="h5 mb-3 mb-lg-0"><i class="fas fa-map-marker-alt"></i><span class="ml-3">{{ internship.jobLocationType|trans }}</span></span>
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fas fa-user-tie"></i><span class="ml-3">{{ internship.employmentType|trans }}</span></span>
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fal fa-calendar-times text-secondary"></i><span class="ml-3">{{ internship.validThrough|date("H:m d-m-Y") }}</span></span>
                        {% if internship.baseSalary|default %}
                            <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fas fa-file-invoice-dollar"></i><span class="ml-3">{% if internship.salaryCurrency|default %}{{ internship.salaryCurrency }}{% endif%} {{ internship.baseSalary }}</span></span>
                        {% endif %}
                    </div>
                </div>
                <div class="col col-12 text-center"><a href="{{ path('app_internship_index') }}" class="btn btn-secondary text-white animate-up-2 mr-3"><i class="fas fa-arrow-left mr-2"></i>{{'all postitions'|trans|capitalize}}</a>
                    <a href="#apply" class="btn btn-white text-primary animate-up-2"><i class="fas fa-clipboard-list mr-2"></i>{{'apply now'|trans|capitalize}}</a></div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>

    <article class="section section-lg pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8 mb-2 mb-xl-0">
                    <div class="card shadow-soft border-light p-4 p-md-5">
                        <div class="card-body">
                            <h2>{{ 'description'|trans|capitalize }}</h2>
                            {{ internship.description }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card shadow-soft border-light p-4 p-md-5">
                        <div class="card-body">
                            <h4>{{ 'requirements'|trans|capitalize }}:</h4>
                            <div>
                                <ul>
                                    {% for requirement in internship.educationRequirements %}
                                        <li>{{ requirement }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>


    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col">
                <div class="card bg-soft shadow-soft border-light p-4 p-md-5">
                    <div class="mb-1 text-center">
                        <h2 class="h1">{{'apply for this position'|trans|capitalize}}</h2>
                    </div>
                    {% if app.user is defined and app.user is not null %}
                    <form action="{{ path('app_internship_position', {id: internship.id}) }}" method="post">

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="NameLabel">{{'deadline for which you can register'|trans|capitalize}}</label>
                                    <br>
                                    <span class="form-control-feedback h6"><i class="fal fa-calendar-times text-secondary"></i><span class="ml-3">{{ internship.validThrough|date("H:m d-m-Y") }}</span></span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-label text-muted" for="NameLabel">{{'name'|trans|capitalize}}</label>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend"><span class="input-group-text"><i
                                                    class="fas fa-user-alt"></i></span></div>
                                        <input class="form-control ml-0" id="NameLabel" placeholder=" {{ app.user.name }}"
                                               type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 mt-4">
                                <div class="form-group">
                                    <label class="form-label text-muted" for="motivation">{{'motivation'|trans|capitalize}} <span class="text-danger">*</span></label>
                                    <textarea class="form-control" placeholder="{{'motivate your application'|trans|capitalize}}" id="motivation" name="motivation" rows="8" required=""></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-secondary mt-4"><span class="mr-2"><i class="fas fa-paper-plane"></i></span> {{'apply'|trans|capitalize}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <p class="mt-4 text-center">{{ 'you need to be logged in to apply to a position'|trans|capitalize }}</p>
                    <a class="mt-2 text-center btn btn-secondary" href="{{ path('app_user_idvault') }}">{{ 'click here to log in'|trans|capitalize }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <section class="section section-lg pb-5 bg-soft">
        <div class="container">

            {% if internship.hiringOrganization|default %}
                {% if commonground_is_resource(internship.hiringOrganization) %}
                    {% set organization = commonground_resource(internship.hiringOrganization) %}
                    <div class="card bg-white border-light shadow-soft flex-lg-row no-gutters p-4">
                        <a href="{{ path('app_organization_organization', {id: organization.id}) }}" class="col-10 col-lg-2">
                            <img src="https://picsum.photos/400/400" alt="" class="card-img-top"></a>
                        <div class="card-body py-4 p-lg-5">
                            <a href="{{ path('app_organization_organization', {id: organization.id}) }}" class="mb-3 d-block">
                                <h2>{{ 'about'|trans|capitalize }} {{ organization.name|trans|capitalize }}</h2></a>
                            <p class="mb-3">{{ organization.description }}</p>
                        </div>
                    </div><br>
                {% endif %}
            {% endif %}

            <div class="row justify-content-center mb-4 mb-lg-5">
                <div class="col">
                    <h2 class="h2">{{'open positions'|trans|capitalize}}</h2>
                </div>
            </div>
            <div class="row">
                {% if positions is defined and positions is not empty%}
                    {% for position in positions %}
                        {% if position['@id'] != internship['@id'] %}
                            <div class="col-12 col-xl-4 mb-4">
                                <div class="card bg-white border-light shadow-soft p-3">
                                    <div class="card-header p-4">
                                        <h3 class="mb-3 h4">{{ position.name }}</h3>
                                        <div class="d-flex small"><a href="{{ path('app_internship_position', {id: position.id}) }}" class="text-gray">
                                                <span class="icon-primary"><i class="fas fa-map-marker-alt"></i></span>
                                                <span class="ml-2">{{ position.jobLocationType }}</span></a>
                                                <span class="icon-primary ml-4"><i class="fas fa-user-tie"></i><span class="ml-2 text-gray">{{ position.employmentType }}</span></span>
                                        </div>
                                    </div>
                                    <div class="card-body px-4 pt-0">
                                        <p class="mb-4">{{ position.summary }}</p>
                                        <div class="d-flex"><a href="{{ path('app_internship_position', {id: position.id}) }}#apply" class="btn btn-sm btn-secondary mr-3 animate-up-2 px-3">Apply Now</a> <a href="{{ path('app_internship_position', {id: position.id}) }}" class="btn btn-sm btn-primary animate-up-2 px-3"><i class="fas fa-clipboard-list mr-2"></i>See Details</a></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="col-12 col-xl-4 mb-4">
                        <div class="card bg-white border-light shadow-soft p-3">
                            <div class="card-header p-4">
                                <h3 class="mb-3 h4">{{ commonground_resource(internship.hiringOrganization).name|trans|capitalize }} {{'dosn\'t have any open positions'|trans|capitalize}}</h3>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
