{% extends "base.html.twig" %}

{% block content %}
    <section class="
    {% if app.user|default and students|default and not students|length > 0 %}
    section-header pb-9 pb-md-11 pb-lg-13 mb-4 mb-lg-6 bg-primary text-white
{% else %}
    section-header pb-10 bg-primary text-white
    {% endif %}
">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 text-center">
                    <h1 class="display-2 mb-3">{{ 'students'|trans|capitalize }}</h1>
                    <p class="lead">{{ 'find the best talent for your challenge or internship'|trans|capitalize }}</p>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-0">
        <div class="
        {% if students|default and students|length > 0 %}
        container mt-n10
{% else %}
        container
        {% endif %}
">
            <div class="row mt-6">
                {% if students|default %}
                    {% for student in students %}
                        <div class="col-md-6 col-lg-4">
                            <div class="profile-card mb-7">
                                <div class="card shadow-soft border-light text-center">
                                    <div class="card-body">
                                        {% if student.name|default %}
                                            <span class="card__title"><h4>{{ student.name }}</h4></span>
                                        {% endif %}
                                        {% if student.emails|default %}
                                            {% for email in student.emails %}
                                                <p class="card-text my-2">{{ email.email }}</p>
                                            {% endfor %}
                                        {% endif %}
                                        <ul class="social-buttons pt-3">
                                            <li>
                                                <a class="btn btn-primary"
                                                   href="{{ path('app_student_portfolio', {id: student.id}) }}">{{ 'view portfolio'|trans|capitalize }}</a>

                                            </li>
                                        </ul>
                                        {% if student.socials|default %}
                                            <ul class="social-buttons pt-3">
                                                {% if student.socials.0.facebook|default %}
                                                    <li>
                                                        <a href="{{ student.socials.0.facebook }}" target="_blank"
                                                           class="btn btn-link btn-facebook">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </a>
                                                    </li>
                                                    </li>
                                                {% endif %}
                                                {% if student.socials.0.twitter|default %}
                                                    <li>
                                                        <a href="{{ student.socials.0.twitter }}" target="_blank"
                                                           class="btn btn-link btn-twitter">
                                                            <i class="fab fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if student.socials.0.linkedin|default %}
                                                    <li>
                                                        <a href="{{ student.socials.0.linkedin }}" target="_blank"
                                                           class="btn btn-link btn-linkedin">
                                                            <i class="fab fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if student.socials.0.instagram|default %}
                                                    <li>
                                                        <a href="{{ student.socials.0.instagram }}" target="_blank"
                                                           class="btn btn-link btn-instagram">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if student.socials.0.website|default %}
                                                    <li>
                                                        <a href="{{ student.socials.0.website }}" target="_blank"
                                                           class="btn btn-link btn-dribbble">
                                                            <i class="fad fa-browser"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3 class="text-center">{{ 'no students have been found'|trans|capitalize }}</h3>
                {% endif %}
            </div>
        </div>
    </section>

    {% if not app.user %}
        <section class="section section-lg pb-5 bg-soft">
            <div class="container z-2">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <h2 class="h1">{{ 'Lets lift off'|trans|capitalize }}</h2>
                        <p>{{ 'Your profile belong here and you know it.'|trans|capitalize }}{{ 'Get your self found by the best challenge leads and organizations and join today'|trans|capitalize }}</p>
                        <p class="lead py-4 text-gray"></p><a href="{{ path('app_user_idvault') }}"
                                                              class="btn btn-lg btn-secondary animate-up-2">{{ 'aanmelden'|trans|capitalize }}</a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
