{% extends "base.html.twig" %}

{% block content %}
    <section class="section-header pb-9 pb-md-11 pb-lg-13 mb-4 mb-lg-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 text-center">
                    <h1 class="display-2 mb-3">{{ 'students'|trans|capitalize }}</h1>
                    <p class="lead">{{ 'find the best talent for your challenge or internship'|trans|capitalize }}</p>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n12 z-2">
            {% for student in students %}
            {% set person = commonground_resource(student.person) %}
            <div class="row mt-6 mt-md-n7">
                <div class="col-md-6 col-lg-4">
                    <div class="profile-card mb-7">
                        <div class="card shadow-soft border-light text-center">
                            <div class="profile-image"><img src="/bundles/rocket/assets/img/team/profile-picture-1.jpg" class="card-img-top" alt="image"></div>
                            <div class="card-body mt-n5">
                                {% if person['@type'] == 'Ingeschrevenpersoon' %}
                                    <span class="card__title">{{ person.naam.voornamen }} {{ person.naam.geslachtsnaam }}</span><br>
                                    <span>{{ person.naam.aanschrijfwijze }}</span>
                                {% else %}
                                    <span class="card__title">{{ person.name }}</span><br>
                                {% endif %}<br>
                                <h6 class="card-subtitle">Director</h6>
                                <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <ul class="social-buttons py-3">
                                    <li><a href="{{ path('app_student_portfolio', {id: student.id}) }}" target="_blank"><i class="fas fa-file-user"></i> {{ 'portfolio'|trans|capitalize }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% if not app.user %}
    <section class="section section-lg pb-5 bg-soft">
        <div class="container z-2">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h2 class="h1">{{ 'Interested in joining conduction academy?'|trans|capitalize }}</h2>
                    <p class="lead py-4 text-gray"></p><a href="{{ path('app_user_idvault') }}" class="btn btn-lg btn-secondary animate-up-2">{{ 'aanmelden'|trans|capitalize }}</a></div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
