{% extends "base.html.twig" %}

{% block content %}
    <section class="
    {% if app.user|default and students|default and not students|length > 0 %}
    section-header pb-9 pb-md-11 pb-lg-13 mb-4 mb-lg-6 bg-primary text-white
{% else %}
    section-header pb-10 bg-primary text-white
    {% endif %}
">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 text-center">
                    <h1 class="display-2 mb-3">{{ 'students'|trans|capitalize }}</h1>
                    <p class="lead">{{ 'find the best talent for your challenge or internship '|trans|capitalize }}</p>
                </div>
            </div>
        <form action="{{ path('app_student_index', query) }}">
            <div class="form-group bg-white shadow-soft rounded-pill mb-4 px-3 py-2">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="input-group input-group-merge shadow-none">
                            <div class="input-group-prepend"><span class="input-group-text bg-transparent border-0"><i class="fas fa-search"></i></span></div>
                            <input name="search" id="search" type="text" class="form-control border-0 form-control-flush shadow-none pb-2"
                                   placeholder="{{ 'search for a student'|trans|capitalize }}..." required=""
                                   {% if query.search is defined and query.search is not empty %}value="{{ query.search }}"{% endif %}>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-block btn-primary rounded-pill">{{ 'search'|trans|capitalize }}</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-0">
        <div class="
        {% if students|default and students|length > 0 %}
        container mt-n10
        {% else %}
        container
        {% endif %}">
            <div class="row mt-6">
                {% if students|default %}
                    {% for student in students %}
                        <div class="col-md-6 col-lg-4">
                            <div class="profile-card mb-7">
                                <div class="card shadow-soft border-light text-center">
                                    <div class="card-body">
                                                <a href="{{ path('app_student_index', {id: student.id}) }}" style="margin-left: auto; margin-right: auto">
                                                    <img
                                                        {% if student.personalPhoto is defined and student.personalPhoto is not empty %}
                                                            src="{{ student.personalPhoto }}"
                                                        {% else %}
                                                            src="/bundles/rocket/assets/img/blog/image-2.jpg"
                                                        {% endif %}
                                                        alt="">
                                                </a>
                                        <br><br>
                                        {% if student.name|default %}
                                            <span class="card__title"><h4>{{ student.name }}</h4></span>
                                        {% endif %}
                                        {% if student.emails|default %}
                                            {% for email in student.emails %}
                                                <p class="card-text my-2">{{ email.email }}</p>
                                            {% endfor %}
                                        {% endif %}

                                        {% set participants = commonground_resource_list({'component':'edu','type':'participants'}, {'person':student['@id']})['hydra:member'] %}
                                        {% set tutorialCount = 0 %}
                                        {% set teamCount = 0 %}
                                        {% if participants|default %}
                                            {% for participant in participants %}
                                                {% if participant.course|default %}
                                                    {% set tutorialCount = tutorialCount + 1 %}
                                                {% endif %}
                                                {% if participant.courses|default %}
                                                    {% set teamCount = teamCount + participant.groups|length %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if (teamCount|default and teamCount != 0) or (tutorialCount|default and tutorialCount != 0) %}
                                            <ul class="social-buttons pb-2">
                                                {% if tutorialCount|default and tutorialCount != 0 %}
                                                    <li>
                                                        <i class="fas fa-briefcase"></i> {{ tutorialCount }}</li>
                                                {% endif %}
                                                {% if teamCount|default and teamCount != 0 %}
                                                    <li>
                                                        <i class="fas fa-users"></i> {{ teamCount }}</li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}

                                        {% if student.socials|default %}
                                            <ul class="social-buttons pb-2">
                                                {% if student.socials.0.facebook|default %}
                                                    <li>
                                                        <a href="{{ student.socials.0.facebook }}" target="_blank"
                                                           class="btn btn-link btn-facebook">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if student.socials.0.twitter|default %}
                                                    <li>
                                                        <a href="{{ student.socials.0.twitter }}" target="_blank"
                                                           class="btn btn-link btn-twitter">
                                                            <i class="fab fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if student.socials.0.linkedin|default %}
                                                    <li>
                                                        <a href="{{ student.socials.0.linkedin }}" target="_blank"
                                                           class="btn btn-link btn-linkedin">
                                                            <i class="fab fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if student.socials.0.instagram|default %}
                                                    <li>
                                                        <a href="{{ student.socials.0.instagram }}" target="_blank"
                                                           class="btn btn-link btn-instagram">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if student.socials.0.website|default %}
                                                    <li>
                                                        <a href="{{ student.socials.0.website }}" target="_blank"
                                                           class="btn btn-link btn-dribbble">
                                                            <i class="fad fa-browser"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}


                                        {% if student.id|default %}
                                            <ul class="social-buttons pt-3">
                                                <li>
                                                    <a class="btn btn-primary"
                                                       href="{{ path('app_student_portfolio', {id: student.id}) }}">{{ 'view portfolio'|trans|capitalize }}</a>
                                                </li>
                                            </ul>
                                            <br>
                                        {% endif %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3 class="text-center">{{ 'no students have been found'|trans|capitalize }}</h3>
                {% endif %}
            </div>
        </div>
    </section>

    {% if not app.user %}
        <section class="section section-lg pb-5 bg-soft">
            <div class="container z-2">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <h2 class="h1">{{ 'join!'|trans|capitalize }}</h2>
                        <p>{{ 'create a profile and find the best challenges and organization for your internship'|trans|capitalize }}</p>
                        <p class="lead py-4 text-gray"></p><a href="{{ path('app_user_idvault') }}"
                                                              class="btn btn-lg btn-secondary animate-up-2">{{ 'aanmelden'|trans|capitalize }}</a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
