{% extends "base.html.twig" %}

{% block content %}

    <section class="section-header pb-10 pb-lg-11 mb-4 mb-lg-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-4">
                    <h1 class="display-2 font-weight-extreme mb-4">{{ student.name }}</h1>
                    {% if student.aboutMe|default %}
                        <h3>{{ 'about me'|trans|capitalize }}</h3>
                        <p>{{ student.aboutMe }}</p>
                    {% endif %}
                    <div class="d-flex flex-column flex-lg-row justify-content-center">
                        {% if student.birthday|default %}
                            <span class="h5 mb-3 mb-lg-0"><i class="fal fa-birthday-cake"></i><span
                                    class="ml-3">{{ student.birthday|date("Y-m-d", "Europe/Paris") }}</span></span>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column flex-lg-row justify-content-center">
                        {% if student.aboutMe|default %}
                            <span class="mt-3">{{ student.aboutMe }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col col-12 text-center">
                    <a href="{{ path('app_student_index') }}" class="btn btn-secondary text-white animate-up-2 mr-3"><i
                            class="fas fa-arrow-left mr-2"></i>{{ 'see all students'|trans|capitalize }}</a>
                    {% if app.user|default %}
                        <a href="#contact" class="btn btn-white text-primary animate-up-2"><i
                                class="fad fa-address-book"></i> {{ 'Contact'|trans|capitalize }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n11 z-2">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card shadow-soft border-light">
                        <div id="contact" class="row">
                            <div class="col">
                                <!-- Card -->
                                <div class="card bg-soft shadow-soft border-0 text-black">
                                    <div class="card-body p-4">

                                        {% if portfolio|default %}
                                            <div class="m-3 text-center">
                                                <h2 class="h1 mb-5">{{ 'portfolio'|trans|capitalize }}</h2>
                                            </div>
                                            {% if portfolio.results|default %}
                                                {% for result in portfolio.results %}
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="profile-card mb-5">
                                                            <div class="card shadow-soft border-light text-center">
                                                                <div class="card-body">
                                                                    {% if result.name|default %}
                                                                        <span
                                                                            class="card__title"><h4>{{ result.name }}</h4></span>
                                                                    {% endif %}
                                                                    {% if result.evaluations|default %}
                                                                        {% for eval in result.evaluations %}
                                                                            <p class="card-text my-2">{{ eval.status }}</p>
                                                                            {% if eval.assessor|default %}
                                                                                {% if 'http' in eval.assessor %}
                                                                                    {% set assessor = commonground_resource(eval.assessor) %}
                                                                                    <p class="card-text my-2">
                                                                                        <b>{{ 'By '~assessor.name }}</b>
                                                                                    </p>
                                                                                {% else %}
                                                                                    <p class="card-text my-2">{{ assessor }}</p>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}

                                                                    {#                                                                    <ul class="social-buttons pt-3">#}
                                                                    {#                                                                        <li>#}
                                                                    {#                                                                            <a class="btn btn-primary"#}
                                                                    {#                                                                               href="{{ path('app_education_program', {id: program.id}) }}">{{ 'view'|trans|capitalize }}</a>#}

                                                                    {#                                                                        </li>#}
                                                                    {#                                                                    </ul>#}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                            {% if portfolio.products|default %}
                                                <h4 class="text-center mb-5">{{ 'products'|trans|capitalize }}</h4>
                                                {% for product in portfolio.products %}
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="profile-card mb-5">
                                                            <div class="card shadow-soft border-light text-center">
                                                                <div class="card-body">
                                                                    {% if product.name|default %}
                                                                        <span
                                                                            class="card__title"><h4>{{ product.name }}</h4></span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}

                                        {% if programs|default %}
                                            {#                                            {{ dump(programs) }}#}
                                            <div class="m-3 text-center">
                                                <h2 class="h1 mb-5">{{ 'this student follows these programs'|trans|capitalize }}</h2>
                                            </div>

                                            <div class="row">
                                                {% for program in programs %}
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="profile-card mb-5">
                                                            <div class="card shadow-soft border-light text-center">
                                                                <div class="card-body">
                                                                    {% if program.name|default %}
                                                                        <span
                                                                            class="card__title"><h4>{{ program.name }}</h4></span>
                                                                    {% endif %}
                                                                    {#                                                                    <ul class="social-buttons pt-3">#}
                                                                    {#                                                                        <li>#}
                                                                    {#                                                                            <a class="btn btn-primary"#}
                                                                    {#                                                                               href="{{ path('app_education_program', {id: program.id}) }}">{{ 'view'|trans|capitalize }}</a>#}

                                                                    {#                                                                        </li>#}
                                                                    {#                                                                    </ul>#}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {% if groups|default %}
                                            {#                                            {{ dump(programs) }}#}
                                            <div class="m-3 text-center">
                                                <h2 class="h1 mb-5">{{ 'this student is in these teams'|trans|capitalize }}</h2>
                                            </div>

                                            <div class="row">
                                                {% for group in groups %}
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="profile-card mb-5">
                                                            <div class="card shadow-soft border-light text-center">
                                                                <div class="card-body">
                                                                    {% if group.name|default %}
                                                                        <span
                                                                            class="card__title"><h4>{{ group.name }}</h4></span>
                                                                    {% endif %}
                                                                    {#                                                                    <ul class="social-buttons pt-3">#}
                                                                    {#                                                                        <li>#}
                                                                    {#                                                                            <a class="btn btn-primary"#}
                                                                    {#                                                                               href="{{ path('app_education_program', {id: program.id}) }}">{{ 'view'|trans|capitalize }}</a>#}

                                                                    {#                                                                        </li>#}
                                                                    {#                                                                    </ul>#}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {% if courses|default %}
                                            {#                                            {{ dump(courses) }}#}
                                            <div class="m-3 text-center">
                                                <h2 class="h1 mb-5">{{ 'this student follows these tutorials'|trans|capitalize }}</h2>
                                            </div>

                                            <div class="row">
                                                {% for course in courses %}
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="profile-card mb-5">
                                                            <div class="card shadow-soft border-light text-center">
                                                                <div class="card-body">
                                                                    {% if course.name|default %}
                                                                        <span
                                                                            class="card__title"><h4>{{ course.name }}</h4></span>
                                                                    {% endif %}
                                                                    <ul class="social-buttons pt-3">
                                                                        <li>
                                                                            <a class="btn btn-primary"
                                                                               href="{{ path('app_education_tutorial', {id: course.id}) }}">{{ 'view'|trans|capitalize }}</a>

                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}


                                        <div class="m-3 text-center">
                                            <h2 class="h1 mb-5">{{ 'contact this student'|trans|capitalize }}</h2>
                                        </div>
                                        {% if app.user|default %}
                                            <form class="px-3"
                                                  action="{{ path('app_student_portfolio', {id: student.id}) }}"
                                                  method="post">
                                                <div class="row">
                                                    <div class="col col-12 mt-4">
                                                        <div class="form-group">
                                                            <label class="form-label text-muted"
                                                                   for="messageTextarea">{{ 'what would you like to tell or ask this student'|trans|capitalize~'?' }}
                                                                <span
                                                                    class="text-danger">*</span></label>
                                                            <textarea class="form-control" name="contactMoment[message]"
                                                                      id="messageTextarea" rows="8"></textarea>
                                                        </div>
                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-secondary mt-4"><span
                                                                    class="mr-2"><i
                                                                        class="fas fa-paper-plane"></i></span>{{ 'submit'|trans|capitalize }}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        {% else %}
                                            <p class="mt-4 text-center">{{ 'you need to be logged in to contact a student'|trans|capitalize }}</p>
                                            <div class="mb-5 mb-lg-6 text-center">
                                                <a class="mt-2 text-center btn btn-secondary"
                                                   href="{{ path('app_user_idvault') }}">{{ 'click here to log in'|trans|capitalize }} </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    {% if student is defined and student is not empty %}#}
    {#        {% for student in students %}#}
    {#            {% if student['@id'] != student['@id'] %}#}
    {#                <section class="section section-lg pb-5 bg-soft">#}
    {#                    <div class="container">#}
    {#                        <div class="row justify-content-center mb-4 mb-lg-5">#}
    {#                            <div class="col">#}
    {#                                <h2 class="h2">{{ 'other students'|trans|capitalize }}</h2>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="row">#}
    {#                            <div class="col-12 col-xl-4 mb-4">#}
    {#                                <div class="card bg-white border-light shadow-soft p-3">#}
    {#                                    <div class="card-header p-4">#}
    {#                                        <h3 class="mb-3 h4">{{ person.name }}</h3>#}
    {#                                        <div class="d-flex small">#}
    {#                                            {% if person.birthday is defined and person.birthday is not empty %}#}
    {#                                                <span class="icon-primary ml-4"><i class="fas fa-user-tie"></i><span#}
    {#                                                        class="ml-2 text-gray">{{ person.birthday }}</span></span>#}
    {#                                            {% endif %}#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="card-body px-4 pt-0">#}
    {#                                        <div class="d-flex">#}
    {#                                            <a href="#contact"#}
    {#                                               class="btn btn-sm btn-secondary mr-3 animate-up-2 px-3">{{ 'contact'|trans|capitalize }}</a>#}
    {#                                            <a href="{{ path('app_student_portfolio', {id: student.id}) }}"#}
    {#                                               class="btn btn-sm btn-primary animate-up-2 px-3"><i#}
    {#                                                    class="fas fa-clipboard-list mr-2"></i>{{ 'See Details'|trans|capitalize }}#}
    {#                                            </a>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </section>#}
    {#            {% endif %}#}
    {#        {% endfor %}#}
    {#    {% endif %}#}
{% endblock %}
